In [1]:
import pandas as pd
import numpy as np
import os 
os.chdir("D:\\Sales Logistic Project\\Decrypted\\")

df= []
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
        #print(len(df_tempa))
        df_tempa.iloc[np.where(df_tempa.shape[1]==3)]
        #if len(df_tempa.columns) == 3:
        if 'Packet_Time' in df_tempa.columns:
            #df_tempa['end_dt'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa['Trip_Time'] = pd.to_datetime(df_tempa['Packet_Time'])
            df_tempa['Path'] = str(path)
            df_tempa['Trip_id'] = str(filename)
                #df_tempa['Trip_Id'] = filename                                  
            df.append(df_tempa)
            dfframe = pd.concat(df, axis=0, ignore_index=True)

In [245]:
meta = pd.read_excel('D:\\Sales Logistic Project\\Metadata_v1.xltm',sheet_name='Sheet1')

In [246]:
meta

,SNO,TripIndex,"File Description ( Path, Filename, Shape )",File,Row Count,Col Count,File Format,col1,col2,col3,...,Val1,Val2,Val3,Val4,Val5,Val6,Val7,Val8,Val9,Val10
0,1,1,'D:\\Sales Logistic Project\\Decrypted\\25.10....,'GJ12BV2880_16.10.2021.xls',1450,2,F18,"Lat,Lngt",Period,0,...,"13.003621,79.990784",16/10 10:10 : 16/10 10:15,0,0,0,0,0,0,0,0.0
1,7,1,'D:\\Sales Logistic Project\\Decrypted\\25.10....,'GJ12BV6093_02.09.2021.xls',1891,2,F18,"Lat,Lngt",Period,0,...,"13.004339,79.990413",01/09 10:10 : 01/09 10:15,0,0,0,0,0,0,0,0.0
2,13,1,'D:\\Sales Logistic Project\\Decrypted\\25.10....,'GJ12BV6093_02.10.2021.xls',2019,2,F18,"Lat,Lngt",Period,0,...,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,0,0,0,0,0,0,0,0.0
3,19,1,'D:\\Sales Logistic Project\\Decrypted\\25.10....,'GJ12BV7704_04.10.2021.xls',1162,2,F18,"Lat,Lngt",Period,0,...,"13.004265,79.99063",04/10 10:10 : 04/10 10:15,0,0,0,0,0,0,0,0.0
4,25,1,'D:\\Sales Logistic Project\\Decrypted\\25.10....,'GJ12BV9360_01.10.2021.xls',1163,2,F18,"Lat,Lngt",Period,0,...,"12.995574,79.988806",01/10 10:10 : 01/10 10:15,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,9301,1,'D:\\Sales Logistic Project\\Decrypted\\29.10....,'NL01AC2463_11.09.2021.xlsx',839,3,F10,Latitude,Longitude,Packet Time,...,12.9861,80.0084,44450,0,0,0,0,0,0,0.0
1551,9307,1,'D:\\Sales Logistic Project\\Decrypted\\29.10....,'NL01AC2465_08.09.2021.xlsx',1134,3,F10,Latitude,Longitude,Packet Time,...,12.9862,80.0075,44447,0,0,0,0,0,0,0.0
1552,9313,1,'D:\\Sales Logistic Project\\Decrypted\\29.10....,'NL01AC2465_15.10.2021.xlsx',843,3,F10,Latitude,Longitude,Packet Time,...,12.9861,80.0077,44484,0,0,0,0,0,0,0.0
1553,9319,1,'D:\\Sales Logistic Project\\Decrypted\\29.10....,'NL01AC2469_15.09.2021.xlsx',566,3,F10,Latitude,Longitude,Packet Time,...,12.9864,80.0076,44454,0,0,0,0,0,0,0.0
1554,9325,1,'D:\\Sales Logistic Project\\Decrypted\\29.10....,'NL01AC2469_17.09.2021.xlsx',2269,3,F10,Latitude,Longitude,Packet Time,...,12.9862,80.008,44456,0,0,0,0,0,0,0.0

In [248]:
zip(meta['File'],meta['File Format'])

In [249]:
Meta_dict = dict(zip(meta['File'],meta['File Format']))

In [250]:
Meta_dict

{"'GJ12BV2880_16.10.2021.xls'": 'F18',
 "'GJ12BV6093_02.09.2021.xls'": 'F18',
 "'GJ12BV6093_02.10.2021.xls'": 'F18',
 "'GJ12BV7704_04.10.2021.xls'": 'F18',
 "'GJ12BV9360_01.10.2021.xls'": 'F18',
 "'GJ12BV9630_17.10.2021.xls'": 'F18',
 "'GJ12BV9630_24.09.2021.xls'": 'F18',
 "'HR38Y0900_08.09.2021.xls'": 'F18',
 "'HR38Y0900_13.10.2021.xls'": 'F18',
 "'HR38Y3699_08.09.2021.xls'": 'F18',
 "'HR38Y3699_29.09.2021.xls'": 'F18',
 "'HR38Y9090_04.10.2021.xls'": 'F18',
 "'HR38Y9900_15.09.2021.xls'": 'F18',
 "'HR38Y9909_03.09.2021.xls'": 'F18',
 "'HR55U0990_16.09.2021.xls'": 'F18',
 "'HR55U4599_08.09.2021.xls'": 'F19',
 "'HR55U9009_02.09.2021.xls'": 'F18',
 "'HR69B0063_14.09.2021.xls'": 'F18',
 "'HR69B0333_06.10.2021.xls'": 'F18',
 "'HR69B5571_04.09.2021.xls'": 'F18',
 "'HR69B5643_02.09.2021.xls'": 'F18',
 "'HR69B6777_15.09.2021.xls'": 'F19',
 "'HR69C0144_04.09.2021.xls'": 'F18',
 "'HR69C0900_05.10.2021.xls'": 'F18',
 "'HR69C0990_01.09.2021.xls'": 'F19',
 "'HR69C0990_29.10.2021.xls'": 'F18',
 "'HR69C0999_21.10.2021.xls'": 'F18',
 "'HR69C1134_02.09.2021.xls'": 'F18',
 "'HR69C1134_04.09.2021.xls'": 'F18',
 "'HR69C1233_29.09.2021.xls'": 'F18',
 "'HR69C3006_29.09.2021.xls'": 'F18',
 "'HR69C4599_06.10.2021.xls'": 'F18',
 "'HR69C9009_04.09.2021.xls'": 'F18',
 "'HR69C9099_14.09.2021.xls'": 'F19',
 "'HR63C0484_28.09.2021.xls'": 'F18',
 "'HR63C1907_14.09.2021.xls'": 'F18',
 "'HR63C2126_09.09.2021.xls'": 'F18',
 "'HR63C8486_21.09.2021.xls'": 'F18',
 "'NL01AA1194_27.09.2021.xls'": 'F18',
 "'NL01AB0182_23.09.2021.xls'": 'F18',
 "'NL01AC5558_06.09.2021.xls'": 'F18',
 "'NL01AD1962_23.09.2021.xls'": 'F18',
 "'NL01AE0113_23.09.2021.xls'": 'F18',
 "'NL01AE0115_29.09.2021.xls'": 'F18',
 "'NL01AE0119_07.09.2021.xls'": 'F18',
 "'NL01Q4011_30.09.2021.xls'": 'F18',
 "'NL01Q4161_19.09.2021.xls'": 'F18',
 "'HR38W0101_06.10.2021.xlsx'": 'F10',
 "'HR38W0101_30.09.2021.xlsx'": 'F10',
 "'HR38W0818_03.09.2021.xlsx'": 'F10',
 "'HR38W0818_07.09.2021.xlsx'": 'F10',
 "'HR38W0818_28.09.2021.xlsx'": 'F10',
 "'HR38W0906_25.08.2021.xlsx'": 'F10',
 "'HR38W1140_16.10.2021.xlsx'": 'F10',
 "'HR38W1702_05.09.2021.xlsx'": 'F10',
 "'HR38W1702_16.10.2021.xlsx'": 'F10',
 "'HR38W1702_21.08.2021.xlsx'": 'F10',
 "'HR38W1702_26.08.2021.xlsx'": 'F10',
 "'HR38W1771_21.08.2021.xlsx'": 'F10',
 "'HR38W1771_29.06.2021.xlsx'": 'F10',
 "'HR38W2080_21.08.2021.xlsx'": 'F10',
 "'HR38W2330_12.10.2021.xlsx'": 'F10',
 "'HR38W2501_06.10.2021.xlsx'": 'F10',
 "'HR38W2501_24.09.2021.xlsx'": 'F10',
 "'HR38W3252_04.09.2021.xlsx'": 'F10',
 "'HR38W3252_15.10.2021.xlsx'": 'F10',
 "'HR38W3252_25.08.2021.xlsx'": 'F10',
 "'HR38W3259_01.09.2021.xlsx'": 'F10',
 "'HR38W3259_19.10.2021.xlsx'": 'F10',
 "'HR38W3391_08.10.2021.xlsx'": 'F10',
 "'HR38W3946_23.08.2021.xlsx'": 'F10',
 "'HR38W4158_27.08.2021.xlsx'": 'F10',
 "'HR38W4182_09.09.2021.xlsx'": 'F10',
 "'HR38W4182_27.09.2021.xlsx'": 'F10',
 "'HR38W4395_20.08.2021.xlsx'": 'F11',
 "'HR38W4395_30.08.2021.xlsx'": 'F10',
 "'HR38W4476_07.09.2021.xlsx'": 'F10',
 "'HR38W4476_22.09.2021.xlsx'": 'F10',
 "'HR38W4479_30.08.2021.xlsx'": 'F10',
 "'HR38W4898_20.10.2021.xlsx'": 'F10',
 "'HR38W4900_18.10.2021.xlsx'": 'F10',
 "'HR38W5007_16.10.2021.xlsx'": 'F10',
 "'HR38W5513_05.10.2021.xlsx'": 'F10',
 "'HR38W5513_24.09.2021.xlsx'": 'F10',
 "'HR38W6125_03.09.2021.xlsx'": 'F10',
 "'HR38W6125_15.09.2021.xlsx'": 'F10',
 "'HR38W6289_17.09.2021.xlsx'": 'F10',
 "'HR38W6292_02.09.2021.xlsx'": 'F10',
 "'HR38W6334_13.10.2021.xlsx'": 'F10',
 "'HR38W6438_01.09.2021.xlsx'": 'F10',
 "'HR38W7293_02.09.2021.xlsx'": 'F10',
 "'HR38W7315_15.10.2021.xlsx'": 'F10',
 "'HR38W7820_08.10.2021.xlsx'": 'F10',
 "'HR38W7820_16.10.2021.xlsx'": 'F10',
 "'HR38W8378_16.09.2021.xlsx'": 'F10',
 "'HR38W8378_28.08.2021.xlsx'": 'F10',
 "'HR38W8431_04.10.2021.xlsx'": 'F10',
 "'HR38W8431_22.08.2021.xlsx'": 'F10',
 "'HR38W8521_04.10.2021.xlsx'": 'F10',
 "'HR38W8977_07.09.2021.xlsx'": 'F10',
 "'HR38W9910_28.09.2021.xlsx'": 'F10',
 "'HR38Y0264_30.08.2021.xlsx'": 'F10',
 "'HR38Y7720_07.10.2021.xlsx'": 'F10',
 "'HR38Y8412_21.08.2021.xlsx'": 'F10',
 "'HR38Y9302_20.08.2021.xlsx'": 'F10',
 "'HR38Y9761_26.08.2021.xlsx'": 'F10',
 "'HR63C0978_04.09.2021.xlsx'": 'F10',
 "'HR63C0978_05.10.2021.xlsx'": 'F10',
 "'HR63C0978_20.09.2021.xlsx'": 'F10',
 "'HR63C1683_23.08.2021.xlsx'": 'F10',
 "'HR63C1683_31.08.2021.xlsx'": 'F10',
 "'HR63C1690_24.09.2021.xlsx'": 'F10',
 "'HR63C1768_15.09.2021.xlsx'": 'F10',
 "'HR63C1768_27.08.2021.xlsx'": 'F10',
 "'HR63C1768_30.09.2021.xlsx'": 'F10',
 "'HR63C2234_11.10.2021.xlsx'": 'F10',
 "'HR63C3257_15.09.2021.xlsx'": 'F10',
 "'HR63C3381_14.09.2021.xlsx'": 'F10',
 "'HR63C3381_27.08.2021.xlsx'": 'F10',
 "'HR63C3688_26.08.2021.xlsx'": 'F10',
 "'HR63C3817_25.08.2021.xlsx'": 'F10',
 "'HR63C3817_30.09.2021.xlsx'": 'F10',
 "'HR63C3828_01.09.2021.xlsx'": 'F10',
 "'HR63C3828_24.08.2021.xlsx'": 'F10',
 "'HR63C4207_04.09.2021.xlsx'": 'F10',
 "'HR63C4207_25.09.2021.xlsx'": 'F10',
 "'HR63C4226_04.09.2021.xlsx'": 'F10',
 "'HR63C4226_23.09.2021.xlsx'": 'F10',
 "'HR63C5602_14.09.2021.xlsx'": 'F10',
 "'HR63C5602_28.08.2021.xlsx'": 'F10',
 "'HR63C6085_21.08.2021.xlsx'": 'F10',
 "'HR63C6534_01.09.2021.xlsx'": 'F10',
 "'HR63C6534_05.10.2021.xlsx'": 'F10',
 "'HR63C6534_14.09.2021.xlsx'": 'F10',
 "'HR63C7352_09.09.2021.xlsx'": 'F10',
 "'HR63C7352_29.09.2021.xlsx'": 'F10',
 "'HR63C7497_06.09.2021.xlsx'": 'F10',
 "'HR63C7497_14.09.2021.xlsx'": 'F10',
 "'HR63C7550_15.10.2021.xlsx'": 'F10',
 "'HR63C7637_21.09.2021.xlsx'": 'F10',
 "'HR63C8051_24.08.2021.xlsx'": 'F10',
 "'HR63C8307_07.09.2021.xlsx'": 'F10',
 "'HR63C8307_25.08.2021.xlsx'": 'F10',
 "'HR63C8463_05.10.2021.xlsx'": 'F10',
 "'HR63C8463_21.08.2021.xlsx'": 'F10',
 "'HR63C8695_04.10.2021.xlsx'": 'F10',
 "'HR63C8695_18.09.2021.xlsx'": 'F10',
 "'HR63C8833_04.10.2021.xlsx'": 'F10',
 "'HR63C8833_15.09.2021.xlsx'": 'F10',
 "'HR63C8992_07.09.2021.xlsx'": 'F10',
 "'HR63C8992_14.09.2021.xlsx'": 'F10',
 "'HR63C9101_01.10.2021.xlsx'": 'F10',
 "'HR63C9101_14.09.2021.xlsx'": 'F10',
 "'HR63C9101_16.10.2021.xlsx'": 'F10',
 "'HR63C9101_30.08.2021.xlsx'": 'F10',
 "'HR63C9161_21.09.2021.xlsx'": 'F10',
 "'HR63C9192_03.09.2021.xlsx'": 'F10',
 "'HR63C9192_25.08.2021.xlsx'": 'F10',
 "'HR63C9429_04.09.2021.xlsx'": 'F10',
 "'HR63C9429_14.09.2021.xlsx'": 'F10',
 "'HR63C9429_22.09.2021.xlsx'": 'F10',
 "'KA01AH1692_25.09.2021.xlsx'": 'F10',
 "'KA01AH1693_16.09.2021.xlsx'": 'F10',
 "'NL010087_08.09.2021.xlsx'": 'F10',
 "'NL010320_16.09.2021.xlsx'": 'F10',
 "'NL01AA0975_31.08.2021.xlsx'": 'F10',
 "'NL01AA0976_03.09.2021.xlsx'": 'F10',
 "'NL01AA0977_02.09.2021.xlsx'": 'F10',
 "'NL01AA0977_24.08.2021.xlsx'": 'F10',
 "'NL01AA0979_23.08.2021.xlsx'": 'F10',
 "'NL01AA0980_31.08.2021.xlsx'": 'F10',
 "'NL01AA3072_03.09.2021.xlsx'": 'F10',
 "'NL01AA3073_21.08.2021.xlsx'": 'F10',
 "'NL01AA9622_07.08.2021.xlsx'": 'F10',
 "'NL01AA9623_03.08.2021.xlsx'": 'F10',
 "'NL01AA9627_13.10.2021.xlsx'": 'F10',
 "'NL01AA9627_18.08.2021.xlsx'": 'F10',
 "'NL01AA9629_07.09.2021.xlsx'": 'F10',
 "'NL01Q-9682_08.08.2021.xlsx'": 'F10',
 "'NL01Q3547_06.08.2021.xlsx'": 'F10',
 "'NL01Q3548_08.08.2021.xlsx'": 'F10',
 "'NL01Q3548_27.09.2021.xlsx'": 'F10',
 "'NL01Q3550_30.09.2021.xlsx'": 'F10',
 "'NL01Q3735_03.08.2021.xlsx'": 'F10',
 "'NL01Q3735_17.09.2021.xlsx'": 'F10',
 "'NL01Q9684_15.09.2021.xlsx'": 'F10',
 "'NL01Q9685_04.09.2021.xlsx'": 'F10',
 "'NL01Q9685_24.08.2021.xlsx'": 'F10',
 "'NL01Q9687_12.08.2021.xlsx'": 'F10',
 "'HR38X7641_29.09.2021.xlsx'": 'F10',
 "'HR47B5739_24.09.2021.xlsx'": 'F10',
 "'HR47B5848_16.09.2021.xlsx'": 'F10',
 "'HR47B5848_29.09.2021.xlsx'": 'F10',
 "'HR47B5857_23.09.2021.xlsx'": 'F10',
 "'HR47B5858_28.09.2021.xlsx'": 'F10',
 "'HR47B5862_05.10.2021.xlsx'": 'F10',
 "'HR47B5862_20.10.2021.xlsx'": 'F10',
 "'HR47B5919_15.09.2021.xlsx'": 'F10',
 "'HR47B8204_04.10.2021.xlsx'": 'F10',
 "'HR47B8205_08.10.2021.xlsx'": 'F10',
 "'HR47B8205_18.09.2021.xlsx'": 'F10',
 "'HR47B8206_18.10.2021.xlsx'": 'F10',
 "'HR47B8207_04.10.2021.xlsx'": 'F10',
 "'HR47B8207_15.09.2021.xlsx'": 'F10',
 "'HR47B8210_12.10.2021.xlsx'": 'F10',
 "'HR47B8210_28.09.2021.xlsx'": 'F10',
 "'HR47C2315_05.10.2021.xlsx'": 'F10',
 "'HR47C2457_14.10.2021.xlsx'": 'F10',
 "'HR47C2466_27.09.2021.xlsx'": 'F10',
 "'HR47C2516_04.10.2021.xlsx'": 'F10',
 "'HR47C9485_02.10.2021.xlsx'": 'F10',
 "'HR47D0169_12.10.2021.xlsx'": 'F10',
 "'HR47D1108_08.10.2021.xlsx'": 'F10',
 "'HR47D3335_17.10.2021.xlsx'": 'F10',
 "'HR47D4329_16.09.2021.xlsx'": 'F10',
 "'HR47D4506_30.09.2021.xlsx'": 'F10',
 "'HR47D5328_15.10.2021.xlsx'": 'F10',
 "'HR47D5806_23.09.2021.xlsx'": 'F10',
 "'HR47D7273_16.10.2021.xlsx'": 'F10',
 "'HR47D9032_28.09.2021.xlsx'": 'F10',
 "'HR47D9499_04.10.2021.xlsx'": 'F10',
 "'NL01N4838_19.09.2021.xlsx'": 'F10',
 "'NL01N4840_30.09.2021.xlsx'": 'F10',
 "'NL01N4841_06.10.2021.xlsx'": 'F10',
 "'NL01N5450_30.09.2021.xlsx'": 'F10',
 "'NL01N5453_23.09.2021.xlsx'": 'F10',
 "'NL01N5459_30.09.2021.xlsx'": 'F10',
 "'NL01N7422_23.09.2021.xlsx'": 'F10',
 "'NL01N7423_02.10.2021.xlsx'": 'F10',
 "'GJ06AZ6068_07.09.2021.xls'": 'F18',
 "'GJ06AZ6243_02.09.2021.xls'": 'F18',
 "'GJ06AZ6260_13.09.2021.xls'": 'F18',
 "'GJ12BX8238_06.10.2021.xls'": 'F18',
 "'GJ12BX8569_15.09.2021.xls'": 'F18',
 "'GJ12BX8657_21.09.2021.xls'": 'F18',
 "'GJ12BY0447_09.09.2021.xls'": 'F18',
 "'GJ12BY0482_21.09.2021.xls'": 'F18',
 "'HR55AG1126_17.10.2021.xlsx'": 'F10',
 "'HR55P6866_15.10.2021.xlsx'": 'F10',
 "'HR55P9987_30.09.2021.xlsx'": 'F10',
 "'HR55U7776_04.10.2021.xlsx'": 'F10',
 "'NL01AC0125_18.09.2021.xlsx'": 'F10',
 "'NL01N1253_16.10.2021.xlsx'": 'F10',
 "'NL01N1714_23.09.2021.xlsx'": 'F10',
 "'NL01AA1635_14.09.2021.xlsx'": 'F10',
 "'NL01AB5298_13.08.2021.xlsx'": 'F10',
 "'NL01AB5300_12.08.2021.xlsx'": 'F10',
 "'NL01AC3023_05.08.2021.xlsx'": 'F10',
 "'NL01AD0008_12.08.2021.xlsx'": 'F10',
 "'NL01N6544_03.08.2021.xlsx'": 'F10',
 "'NL01N6544_07.08.2021.xlsx'": 'F10',
 "'NL01N7489_23.08.2021.xlsx'": 'F10',
 "'PB65AD8137_11.08.2021.xlsx'": 'F10',
 "'PB65AD8139_26.08.2021.xlsx'": 'F10',
 "'UP82T4576_24.08.2021.xlsx'": 'F10',
 "'UP82T4684_26.08.2021.xlsx'": 'F10',
 "'UP82T4685_19.08.2021.xlsx'": 'F10',
 "'UP82T4739_03.08.2021.xlsx'": 'F10',
 "'UP82T4740_11.08.2021.xlsx'": 'F10',
 "'UP82T4740_31.08.2021.xlsx'": 'F10',
 "'UP82T4741_01.08.2021.xlsx'": 'F10',
 "'UP82T4744_09.08.2021.xlsx'": 'F10',
 "'UP82T5508_04.08.2021.xlsx'": 'F10',
 "'UP82T5509_17.08.2021.xlsx'": 'F10',
 "'UP82T5513_17.08.2021.xlsx'": 'F10',
 "'UP82T5513_19.08.2021.xlsx'": 'F10',
 "'UP82T5514_14.09.2021.xlsx'": 'F10',
 "'UP82T6226_28.08.2021.xlsx'": 'F10',
 "'UP82T6227_04.09.2021.xlsx'": 'F10',
 "'UP82T6227_23.08.2021.xlsx'": 'F10',
 "'UP82T6229_10.08.2021.xlsx'": 'F10',
 "'HR55AD4862_08.09.2021.xls'": 'F18',
 "'HR55AD4960_08.09.2021.xls'": 'F18',
 "'HR55AD6041_14.09.2021.xls'": 'F18',
 "'HR55AD6674_11.09.2021.xls'": 'F18',
 "'HR55AE0996_01.09.2021.xls'": 'F8',
 "'HR55AE5398_03.09.2021.xls'": 'F18',
 "'HR55AE6377_08.09.2021.xls'": 'F18',
 "'HR55AE9866_11.09.2021.xls'": 'F18',
 "'HR55AE9932_11.09.2021.xls'": 'F18',
 "'HR55AE9932_17.09.2021.xls'": 'F18',
 "'HR55AH2334_09.09.2021.xls'": 'F18',
 "'HR55N4735_04.09.2021.xls'": 'F18',
 "'HR55N4735_08.09.2021.xls'": 'F18',
 "'HR55P2125_13.09.2021.xls'": 'F18',
 "'HR55Q3611_17.09.2021.xls'": 'F18',
 "'HR55Q3620_16.09.2021.xls'": 'F18',
 "'HR55Q4059_02.09.2021.xls'": 'F18',
 "'HR55Q4060_02.09.2021.xls'": 'F18',
 "'HR55Q4063_24.09.2021.xls'": 'F18',
 "'HR55Q4064_16.09.2021.xls'": 'F18',
 "'HR55Q4068_19.09.2021.xls'": 'F18',
 "'HR55Q6064_04.09.2021.xls'": 'F18',
 "'HR55Q7840_16.09.2021.xls'": 'F18',
 "'HR55Q8507_26.09.2021.xls'": 'F18',
 "'HR55R3436_09.09.2021.xls'": 'F18',
 "'HR55R3509_01.09.2021.xls'": 'F18',
 "'HR55R3509_15.09.2021.xls'": 'F18',
 "'HR55R3509_30.09.2021.xls'": 'F18',
 "'HR55R5799_04.09.2021.xls'": 'F18',
 "'HR55R5801_04.09.2021.xls'": 'F18',
 "'HR55R5801_16.09.2021.xls'": 'F18',
 "'HR55R7135_02.09.2021.xls'": 'F18',
 "'HR55R7135_11.09.2021.xls'": 'F19',
 "'NL01AA8908_01.09.2021.xls'": 'F18',
 "'NL01AB5274_03.09.2021.xls'": 'F18',
 "'NL01AE8917_25.09.2021.xls'": 'F18',
 "'NL01AF0166_22.09.2021.xls'": 'F18',
 "'NL01Q0461_04.09.2021.xls'": 'F18',
 "'NL01Q0462_17.09.2021.xls'": 'F8',
 "'NL01Q0462_29.09.2021.xls'": 'F8',
 "'NL01Q0463_01.09.2021.xls'": 'F8',
 "'NL01Q1243_13.09.2021.xls'": 'F18',
 "'NL01Q7638_25.09.2021.xls'": 'F18',
 "'NL01Q7639_08.09.2021.xls'": 'F18',
 "'UP32KN7118_04.09.2021.xls'": 'F19',
 "'UP32KN7118_28.09.2021.xls'": 'F18',
 "'HR55AF1302_01.09.2021.xlsx'": 'F10',
 "'HR55AF8436_17.09.2021.xlsx'": 'F10',
 "'HR55AG0695_22.09.2021.xlsx'": 'F10',
 "'HR55AG1650_30.09.2021.xlsx'": 'F10',
 "'HR55AG2034_02.09.2021.xlsx'": 'F10',
 "'HR55AG2403_12.10.2021.xlsx'": 'F10',
 "'HR55AG2612_19.10.2021.xlsx'": 'F10',
 "'HR55AG2968_08.10.2021.xlsx'": 'F10',
 "'HR55AG2968_10.09.2021.xlsx'": 'F10',
 "'HR55AG4310_01.09.2021.xlsx'": 'F10',
 "'HR55AG4871_18.09.2021.xlsx'": 'F10',
 "'HR55AG5550_02.09.2021.xlsx'": 'F10',
 "'HR55AG5703_28.09.2021.xlsx'": 'F10',
 "'HR55AG6163_16.09.2021.xlsx'": 'F10',
 "'HR55AG7820_28.09.2021.xlsx'": 'F10',
 "'HR55AG8652_02.09.2021.xlsx'": 'F10',
 "'HR55AH2802_07.10.2021.xlsx'": 'F10',
 "'HR55AH9749_01.09.2021.xlsx'": 'F10',
 "'HR55AH9749_27.09.2021.xlsx'": 'F10',
 "'HR55AJ9963_24.09.2021.xlsx'": 'F10',
 "'HR55P6863_04.09.2021.xlsx'": 'F10',
 "'HR55P6870_08.10.2021.xlsx'": 'F10',
 "'HR55Q0459_15.09.2021.xlsx'": 'F10',
 "'HR55Q0463_04.09.2021.xlsx'": 'F10',
 "'HR55R0765_24.09.2021.xlsx'": 'F10',
 "'HR55R0769_25.09.2021.xlsx'": 'F10',
 "'NL01AA0061_07.09.2021.xlsx'": 'F10',
 "'NL01AA0072_03.09.2021.xlsx'": 'F10',
 "'NL01AA0462_02.09.2021.xlsx'": 'F10',
 "'NL01AA0473_07.09.2021.xlsx'": 'F10',
 "'NL01AA0508_16.10.2021.xlsx'": 'F10',
 "'NL01AA3778 _02.09.2021.xlsx'": 'F10',
 "'NL01AA6208_04.10.2021.xlsx'": 'F10',
 "'NL01AA6217_05.10.2021.xlsx'": 'F10',
 "'NL01AA6836_01.09.2021.xlsx'": 'F10',
 "'NL01AC0123_20.10.2021.xlsx'": 'F10',
 "'NL01AC1238_26.09.2021.xlsx'": 'F10',
 "'NL01AC1411_06.09.2021.xlsx'": 'F10',
 "'NL01AC1415_17.09.2021.xlsx'": 'F10',
 "'NL01AC1420_02.09.2021.xlsx'": 'F10',
 "'NL01AD7750_08.09.2021.xlsx'": 'F10',
 "'NL01K8833_14.09.2021.xlsx'": 'F10',
 "'NL01N1267_08.09.2021.xlsx'": 'F10',
 "'NL01N1286_28.09.2021.xlsx'": 'F10',
 "'NL01Q1455_22.09.2021.xlsx'": 'F10',
 "'NL01Q4059_01.09.2021.xlsx'": 'F10',
 "'NL01Q7122_14.09.2021.xlsx'": 'F10',
 "'NL01Q7126_23.09.2021.xlsx'": 'F10',
 "'NL01Q9566_02.09.2021.xlsx'": 'F10',
 "'PB11AU7644_01.09.2021.xlsx'": 'F10',
 "'HR55P9886_02.09.2021.xls'": 'F18',
 "'HR55Q9463_04.09.2021.xls'": 'F18',
 "'HR55R6352_30.09.2021.xls'": 'F18',
 "'HR55R8025_14.09.2021.xls'": 'F18',
 "'NL01AA6010_23.09.2021.xls'": 'F18',
 "'NL01N2642_25.09.2021.xls'": 'F18',
 "'NL01N6132_18.09.2021.xls'": 'F18',
 "'NL01N6139_18.09.2021.xls'": 'F18',
 "'NL01N8578_21.09.2021.xls'": 'F18',
 "'NL01N8784_06.09.2021.xls'": 'F18',
 "'NL01Q4127_17.09.2021.xls'": 'F18',
 "'NL01Q4133_05.09.2021.xls'": 'F18',
 "'NL01Q4297_30.09.2021.xls'": 'F18',
 "'NL01Q4299_30.09.2021.xls'": 'F18',
 "'PB11BR1776_17.09.2021.xls'": 'F18',
 "'PB65AD8136_02.09.2021.xls'": 'F18',
 "'PB65AD8149_14.09.2021.xls'": 'F18',
 "'PB65AD8157_06.09.2021.xls'": 'F18',
 "'NL01N6312_09.09.21.xlsx'": 'F10',
 "'NL01N9764_08.09.21.xlsx'": 'F10',
 "'NL01Q4110_11.09.21.xlsx'": 'F10',
 "'NL01Q4111_30.09.21.xlsx'": 'F10',
 "'NL01Q4993_09.09.21.xlsx'": 'F10',
 "'NL01Q4993_18.09.21.xlsx'": 'F10',
 "'NL01Q7950_03.09.21.xlsx'": 'F10',
 "'NL01Q7953_25.09.21.xlsx'": 'F10',
 "'NL01Q9159_04.09.21.xlsx'": 'F10',
 "'NL01AB3573_03.09.2021.xls'": 'F18',
 "'NL01AE2295_09.09.2021.xls'": 'F18',
 "'NL01AE2295_18.09.2021.xls'": 'F18',
 "'NL01AE2340_02.09.2021.xls'": 'F18',
 "'NL01AE2592_02.09.2021.xls'": 'F18',
 "'NL01AE4356_14.08.2021.xls'": 'F18',
 "'NL01AE4374_02.09.2021.xls'": 'F18',
 "'NL01AE4410_19.08.2021.xls'": 'F18',
 "'NL01AE4419_21.08.2021.xls'": 'F18',
 "'NL01AE4599_02.09.2021.xls'": 'F18',
 "'NL01AE4601_28.08.2021.xls'": 'F18',
 "'NL01AE4601_28.09.2021.xls'": 'F18',
 "'NL01AE4617_17.09.2021.xls'": 'F18',
 "'NL01AE4618_19.08.2021.xls'": 'F18',
 "'NL01AE4618_24.09.2021.xls'": 'F18',
 "'NL01AE4628_12.08.2021.xls'": 'F18',
 "'NL01AE4634_11.08.2021.xls'": 'F18',
 "'NL01AE4634_14.08.2021.xls'": 'F18',
 "'NL01AE4641_03.08.2021.xls'": 'F18',
 "'NL01AE4642_12.08.2021.xls'": 'F18',
 "'NL01AE4646_03.09.2021.xls'": 'F18',
 "'NL01AE4655_19.08.2021.xls'": 'F18',
 "'NL01AE4670_14.08.2021.xls'": 'F18',
 "'NL01AE4690_21.08.2021.xls'": 'F18',
 "'NL01AE4691_21.08.2021.xls'": 'F18',
 "'NL01AE4691_27.09.2021.xls'": 'F18',
 "'NL01AE4694_26.08.2021.xls'": 'F18',
 "'NL01AE4698_03.09.2021.xls'": 'F18',
 "'NL01AE4698_09.09.2021.xls'": 'F18',
 "'NL01AE4743_07.08.2021.xls'": 'F18',
 "'NL01L6300_19.08.2021.xls'": 'F18',
 "'NL01L6444_17.08.2021.xls'": 'F18',
 "'NL02N5292_26.08.2021.xls'": 'F18',
 "'NL02N5490_27.08.2021.xls'": 'F18',
 "'NL02N5661_03.08.2021.xls'": 'F18',
 "'NL02N5661_18.08.2021.xls'": 'F18',
 "'NL02Q3501_26.08.2021.xls'": 'F18',
 "'NL02Q3537_21.09.2021.xls'": 'F18',
 "'NL02Q3564_20.08.2021.xls'": 'F18',
 "'NL02Q3654_18.09.2021.xls'": 'F18',
 "'NL02Q3672_20.08.2021.xls'": 'F18',
 "'NL02Q3681_11.08.2021.xls'": 'F18',
 "'NL02Q3708_12.08.2021.xls'": 'F18',
 "'NL02Q3726_29.09.2021.xls'": 'F18',
 "'NL02Q3753_16.09.2021.xls'": 'F18',
 "'NL02Q3753_21.09.2021.xls'": 'F18',
 "'NL02Q3924_14.08.2021.xls'": 'F18',
 "'NL02Q6336_03.08.2021.xls'": 'F18',
 "'NL02Q6336_29.09.2021.xls'": 'F18',
 "'HR69C7777_30.09.2021.xlsx'": 'F10',
 "'NL01AA3956_02.09.2021.xlsx'": 'F10',
 "'NL01AA4737_04.09.2021.xlsx'": 'F10',
 "'NL01AA4737_25.09.2021.xlsx'": 'F10',
 "'NL01AA4740_04.09.2021.xlsx'": 'F10',
 "'NL01AA9456_11.09.2021.xlsx'": 'F10',
 "'NL01AA9458_24.09.2021.xlsx'": 'F10',
 "'NL01AA9778_24.09.2021.xlsx'": 'F10',
 "'NL01AB0179_18.09.2021.xlsx'": 'F10',
 "'NL01AB0561_21.09.2021.xlsx'": 'F10',
 "'NL01AB8774_09.09.2021.xlsx'": 'F10',
 "'NL01AB9407_29.09.2021.xlsx'": 'F10',
 "'NL01AB9977_16.09.2021.xlsx'": 'F10',
 "'NL01AB9978_02.09.2021.xlsx'": 'F10',
 "'NL01AB9980_12.09.2021.xlsx'": 'F10',
 "'NL01AB9980_16.09.2021.xlsx'": 'F10',
 "'NL01AE4203_02.09.2021.xlsx'": 'F10',
 "'NL01AE9795_08.09.2021.xlsx'": 'F10',
 "'NL01AE9800_01.09.2021.xlsx'": 'F10',
 "'NL01AE9803_22.09.2021.xlsx'": 'F10',
 "'NL01L5417_28.09.2021.xlsx'": 'F10',
 "'NL01Q5690_24.09.2021.xlsx'": 'F10',
 "'NL01Q5693_24.09.2021.xlsx'": 'F10',
 "'NL01AA4452_01.09.2021.xls'": 'F18',
 "'NL01AA4452_24.08.2021.xls'": 'F18',
 "'NL01AA4455_05.10.2021.xls'": 'F18',
 "'NL01AA4461_19.10.2021.xls'": 'F18',
 "'NL01AA4462_22.08.2021.xls'": 'F18',
 "'NL01AA4465_27.08.2021.xls'": 'F18',
 "'NL01AA4468_23.09.2021.xls'": 'F18',
 "'NL01AA5761_04.09.2021.xls'": 'F18',
 "'NL01AA5761_04.10.2021.xls'": 'F18',
 "'NL01AA5761_21.09.2021.xls'": 'F18',
 "'NL01AA5761_25.08.2021.xls'": 'F18',
 "'NL01AA5764_26.08.2021.xls'": 'F18',
 "'NL01AA5766_30.09.2021.xls'": 'F18',
 "'NL01AA5851_25.08.2021.xls'": 'F18',
 "'NL01AA5862_16.10.2021.xls'": 'F18',
 "'NL01AA6296_08.09.2021.xls'": 'F18',
 "'NL01AB0411_16.10.2021.xls'": 'F18',
 "'NL01AB0677_30.09.2021.xls'": 'F18',
 "'NL01AB0681_04.10.2021.xls'": 'F18',
 "'NL01AB0684_04.10.2021.xls'": 'F18',
 "'NL01AB0684_25.08.2021.xls'": 'F18',
 "'NL01N8954_22.08.2021.xls'": 'F18',
 "'NL01N8966_29.09.2021.xls'": 'F18',
 "'NL01Q1055_17.10.2021.xls'": 'F18',
 "'NL01Q1057_22.08.2021.xls'": 'F18',
 "'NL01Q1069_04.10.2021.xls'": 'F18',
 "'NL01Q1069_24.08.2021.xls'": 'F18',
 "'NL01Q1070_19.10.2021.xls'": 'F18',
 "'NL01Q1261_30.09.2021.xls'": 'F18',
 "'NL01Q1270_12.10.2021.xls'": 'F18',
 "'NL01Q1271_24.09.2021.xls'": 'F18',
 "'NL01Q1282_16.10.2021.xls'": 'F18',
 "'NL01Q1282_30.08.2021.xls'": 'F18',
 "'NL01Q1285_18.09.2021.xls'": 'F18',
 "'NL01Q1408_18.09.2021.xls'": 'F18',
 "'NL01Q2034_29.09.2021.xls'": 'F18',
 "'NL01Q2040_25.08.2021.xls'": 'F18',
 "'NL01Q2041_20.10.2021.xls'": 'F18',
 "'NL01Q2045_28.08.2021.xls'": 'F18',
 "'NL01Q8960_27.08.2021.xls'": 'F18',
 "'GJ06AX5749_09.09.2021.xlsx'": 'F10',
 "'GJ06AX5749_13.09.2021.xlsx'": 'F10',
 "'HR55T8262_04.10.2021.xls'": 'F19',
 "'UK04CA9200_23.09.2021.xlsx'": 'F10',
 "'UK04CA9212_20.09.2021.xlsx'": 'F10',
 "'UK04CA9290_14.09.2021.xlsx'": 'F10',
 "'UK04CA9369_03.09.2021.xlsx'": 'F10',
 "'UK04CA9370_08.09.2021.xlsx'": 'F10',

In [251]:
file_frmts = meta.set_index('File').to_dict()['File Format']

In [296]:
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f18=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F18"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            df_tempa['Trip_id'] = str(filename)
            df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa.drop('Period', axis=1, inplace=True)
            df_f18.append(df_tempa)
            dfframe_format18 = pd.concat(df_f18, axis=0, ignore_index=True)
            dfframe_format18.Trip_id = dfframe_format18.Trip_id.str.replace('[.xls]', '')
            dfframe_format18.Trip_id = dfframe_format18.Trip_id.str.replace('[.xlsx]', '')
            #df_obj = dfframe_format18.select_dtypes(['object'])
            #dfframe_format18[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [297]:
dfframe_format18.head(2)

,"Lat,Lngt",Trip_id,Latitude,Longitude,GPS_dt_tm
0,"13.003621,79.990784",GJ12BV2880_16102021,13.003621,79.990784,2021-10 - 16 10:15
1,"13.003621,79.990784",GJ12BV2880_16102021,13.003621,79.990784,2021-10 - 16 10:20

In [298]:
dfframe_format18.shape

(830962, 5)

In [299]:
dfframe_format18.Trip_id.value_counts()

NL01N6139_18092021    2881
NL01N5071_27082021    2881
NL01L7328_01082021    2880
NL01L8612_25082021    2880
NL01L8613_11082021    2879
                      ...
NL01Q4982_22092021      33
GJ14X5039_24092021      31
NL01Q4965_23092021      28
NL01Q3258_23092021      25
NL01Q7267_24092021      17
Name: Trip_id, Length: 672, dtype: int64

In [300]:
dfframe_format18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830962 entries, 0 to 830961
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Lat,Lngt   830310 non-null  object
 1   Trip_id    830962 non-null  object
 2   Latitude   830310 non-null  float64
 3   Longitude  830310 non-null  float64
 4   GPS_dt_tm  830962 non-null  object
dtypes: float64(2), object(3)
memory usage: 31.7+ MB

In [301]:
dfframe_format18.isnull().sum()

Lat,Lngt     652
Trip_id        0
Latitude     652
Longitude    652
GPS_dt_tm      0
dtype: int64

In [302]:
#dfframe_format18.iloc[np.where(dfframe_test_a.isnull())]

In [303]:
dfframe_format18 = dfframe_format18.dropna(how='any',axis=0)

In [304]:
dfframe_format18.Trip_id.value_counts().count()

672

In [305]:
dfframe_format18.isnull().sum()

Lat,Lngt     0
Trip_id      0
Latitude     0
Longitude    0
GPS_dt_tm    0
dtype: int64

In [306]:
dfframe_format18.Trip_id.value_counts().sum()

830310

In [307]:
830962 - 830310

652

In [308]:
dfframe_format18.head(2)

,"Lat,Lngt",Trip_id,Latitude,Longitude,GPS_dt_tm
0,"13.003621,79.990784",GJ12BV2880_16102021,13.003621,79.990784,2021-10 - 16 10:15
1,"13.003621,79.990784",GJ12BV2880_16102021,13.003621,79.990784,2021-10 - 16 10:20

In [309]:
dfframe_format18 = dfframe_format18[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [310]:
dfframe_format18

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,GJ12BV2880_16102021,"13.003621,79.990784",13.003621,79.990784,2021-10 - 16 10:15
1,GJ12BV2880_16102021,"13.003621,79.990784",13.003621,79.990784,2021-10 - 16 10:20
2,GJ12BV2880_16102021,"13.003621,79.990784",13.003621,79.990784,2021-10 - 16 10:25
3,GJ12BV2880_16102021,"13.003621,79.990784",13.003621,79.990784,2021-10 - 16 10:30
4,GJ12BV2880_16102021,"13.003621,79.990784",13.003621,79.990784,2021-10 - 16 10:35
...,...,...,...,...,...
830956,NL01Q9795_02092021,"22.588661,88.221088",22.588661,88.221088,2021-09 - 07 23:35
830957,NL01Q9795_02092021,"22.58866,88.221085",22.588660,88.221085,2021-09 - 07 23:40
830958,NL01Q9795_02092021,"22.588661,88.221088",22.588661,88.221088,2021-09 - 07 23:45
830959,NL01Q9795_02092021,"22.588661,88.221088",22.588661,88.221088,2021-09 - 07 23:55
830960,NL01Q9795_02092021,"22.58866,88.221085",22.588660,88.221085,2021-09 - 07 23:57

In [311]:
# format 17 
# most records have just the start time

In [312]:
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f17=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F17"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            df_tempa['Trip_id'] = str(filename)
            df_tempa['Period'] = df_tempa['Period'].replace(r'\n',' ', regex=True)
            df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace(r'\n',' ', regex=True)
            df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].str.replace(' ','')
            df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            #df_tempa.drop(df_tempa.loc[df_tempa['Lat,Lngt']=='0.02764413.026074'].index, inplace=True)
            df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            df_tempa.drop('Period', axis=1, inplace=True)
            df_f17.append(df_tempa)
            dfframe_format17 = pd.concat(df_f17, axis=0, ignore_index=True)
            dfframe_format17.Trip_id = dfframe_format17.Trip_id.str.replace('[.xls]', '')
            dfframe_format17.Trip_id = dfframe_format17.Trip_id.str.replace('[.xlsx]', '')
            #dfframe_format17.Trip_id = dfframe_format17.Trip_id.str.replace('[.xltm]', '')
            df_obj = dfframe_format17.select_dtypes(['object'])
            dfframe_format17[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [313]:
#17/10 00:00

In [314]:
dfframe_format17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6758 entries, 0 to 6757
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Lat,Lngt   6749 non-null   object
 1   Trip_id    6758 non-null   object
 2   Latitude   6749 non-null   float64
 3   Longitude  6749 non-null   float64
 4   GPS_dt_tm  6758 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 264.1+ KB

In [315]:
dfframe_format17

,"Lat,Lngt",Trip_id,Latitude,Longitude,GPS_dt_tm
0,"13.024057,80.027244",NL01AA3593_17102021,13.024057,80.027244,2021-10-17 00:00:00
1,"13.024057,80.027244",NL01AA3593_17102021,13.024057,80.027244,2021-10-17 00:06:00
2,"13.024057,80.027244",NL01AA3593_17102021,13.024057,80.027244,2021-10-17 00:12:00
3,"13.024057,80.027244",NL01AA3593_17102021,13.024057,80.027244,2021-10-17 00:18:00
4,"13.024057,80.027244",NL01AA3593_17102021,13.024057,80.027244,2021-10-17 00:24:00
...,...,...,...,...,...
6753,"21.134447,72.755644",NL01Q3114_04102021,21.134447,72.755644,2021-10-07 14:36:00
6754,"21.135269,72.754578",NL01Q3114_04102021,21.135269,72.754578,2021-10-07 14:42:00
6755,"21.135991,72.75408",NL01Q3114_04102021,21.135991,72.754080,2021-10-07 14:48:00
6756,"21.135416,72.754751",NL01Q3114_04102021,21.135416,72.754751,2021-10-07 14:54:00
6757,NaN,NL01Q3114_04102021,NaN,NaN,2021-10-04 00:00:00

In [316]:
dfframe_format17.isnull().sum()

Lat,Lngt     9
Trip_id      0
Latitude     9
Longitude    9
GPS_dt_tm    0
dtype: int64

In [317]:
#dfframe_format17.to_excel("17.xlsx")

In [318]:
dfframe_format17 = dfframe_format17.dropna(how='any',axis=0)

In [319]:
dfframe_format17.Trip_id.nunique()

10

In [320]:
dfframe_format17 = dfframe_format17[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [321]:
dfframe_format17.Trip_id.value_counts().count()

10

In [322]:
dfframe_format17.shape

(6749, 5)

In [323]:
## format 10 - 1489412
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f10=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F10"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            
            df_tempa['Trip_id'] = str(filename)
            #print(df_tempa['Trip_id'].value_counts())
            df_tempa['Packet Time'] = df_tempa['Packet Time'].replace('\n','', regex=True)
            df_tempa['Lat,Lngt'] = df_tempa["Latitude"].astype(str) + df_tempa["Longitude"].astype(str)
            df_tempa['Latitude'] = df_tempa['Latitude'].replace('\n','', regex=True)
            df_tempa['Longitude'] = df_tempa['Longitude'].replace('\n','', regex=True)
        
            #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa.drop('Period', axis=1, inplace=True)
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Packet Time'])
            df_f10.append(df_tempa)
            dfframe_format10 = pd.concat(df_f10, axis=0, ignore_index=True)
            #dfframe_format10.Trip_id = dfframe_format10.Trip_id.str.replace('[.xls]', '')
            #dfframe_format10.Trip_id = dfframe_format10.Trip_id.str.replace('[.xlsx]', '')
            df_obj = dfframe_format10.select_dtypes(['object'])
            #dfframe_format10[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [324]:
#dfframe_format10.to_csv("f10.csv")

In [325]:
#dfframe_format10 = dfframe_format10.dropna(how='any',axis=0)

In [326]:
dfframe_format10.Trip_id = dfframe_format10.Trip_id.str.replace('[.xls]','')
dfframe_format10.Trip_id = dfframe_format10.Trip_id.str.replace('[.xlsx]','')

In [327]:
dfframe_format10.shape

(1489412, 6)

In [328]:
1489412-1488853

559

In [329]:
dfframe_format10.Trip_id.value_counts()

HR46E0510_02092021     29351
HR46E4249_04092021     27627
HR46E7834_29092021     23930
HR46E2686_25092021     23833
HR46E4411_30092021     21226
                       ...
NL01AA1840_15092021      223
NL010087_08092021        160
HR47B8205_18092021       135
HR63C3828_24082021       128
HR47B5848_16092021        65
Name: Trip_id, Length: 624, dtype: int64

In [330]:
dfframe_format10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1489412 entries, 0 to 1489411
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Latitude     1488853 non-null  float64
 1   Longitude    1488853 non-null  float64
 2   Packet Time  1488853 non-null  object
 3   Trip_id      1489412 non-null  object
 4   Lat,Lngt     1489412 non-null  object
 5   GPS_dt_tm    1488853 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 68.2+ MB

In [331]:
dfframe_format10 = dfframe_format10.dropna(how='any',axis=0)

In [332]:
dfframe_format10.shape

(1488853, 6)

In [333]:
dfframe_format10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1488853 entries, 0 to 1489410
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Latitude     1488853 non-null  float64
 1   Longitude    1488853 non-null  float64
 2   Packet Time  1488853 non-null  object
 3   Trip_id      1488853 non-null  object
 4   Lat,Lngt     1488853 non-null  object
 5   GPS_dt_tm    1488853 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 79.5+ MB

In [334]:
#dfframe_format10.to_csv("f10.csv")

In [335]:
dfframe_format10.Trip_id.nunique()

624

In [336]:
## format 19
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f19=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F19"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            #df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
                df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
                df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
                df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
                df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            else:
                if('Date' in df_tempa):
                    df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                    df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            df_tempa['Path'] = str(path)
            df_f19.append(df_tempa)
            dfframe_format19 = pd.concat(df_f19, axis=0, ignore_index=True)
            #dfframe_format19.Trip_id = dfframe_format19.Trip_id.str.replace('[.xls]', '')
            #dfframe_format19.Trip_id = dfframe_format19.Trip_id.str.replace('[.xlsx]', '')

In [337]:
dfframe_format19.drop(dfframe_format19[['Date','Period']],axis=1,inplace=True)

In [338]:
dfframe_format19.Trip_id = dfframe_format19.Trip_id.str.replace('[.xls]', '')
dfframe_format19.Trip_id = dfframe_format19.Trip_id.str.replace('[.xlsx]', '')

In [339]:
dfframe_format19.Trip_id.value_counts()

NL01N7521_17102021     2685
NL017527_04102021      2567
NL01N0020_13082021     2542
NL01AA1361_04102021    2478
NL01AA1895_06082021    2442
                       ...
NL01AA1346_16102021     536
NL01Q2734_01102021      531
NL01AA7753_04102021     529
NL01N9458_30092021      503
NL01AC7384_11082021     123
Name: Trip_id, Length: 133, dtype: int64

In [340]:
dfframe_format19.head(2)

,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm,LatLong,Trip_id,Path,GPS_dt_tm_new
0,"13.004344,79.990042",13.004344,79.990042,2021-09-08 10:15:00,"13.004344,79.990042",HR55U4599_08092021,D:\Sales Logistic Project\Decrypted\25.10.2021...,NaT
1,"13.004344,79.990042",13.004344,79.990042,2021-09-08 10:20:00,"13.004344,79.990042",HR55U4599_08092021,D:\Sales Logistic Project\Decrypted\25.10.2021...,NaT

In [341]:
dfframe_format19.isnull().sum()

Lat,Lngt              7
Latitude              7
Longitude             7
GPS_dt_tm        170198
LatLong               7
Trip_id               0
Path                  0
GPS_dt_tm_new     10868
dtype: int64

In [342]:
dfframe_format19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181066 entries, 0 to 181065
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Lat,Lngt       181059 non-null  object
 1   Latitude       181059 non-null  float64
 2   Longitude      181059 non-null  float64
 3   GPS_dt_tm      10868 non-null   datetime64[ns]
 4   LatLong        181059 non-null  object
 5   Trip_id        181066 non-null  object
 6   Path           181066 non-null  object
 7   GPS_dt_tm_new  170198 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 11.1+ MB

In [343]:
#dfframe_format19.to_excel("19.xlsx")

In [344]:
dfframe_format19 = pd.read_excel("D:\\Sales Logistic Project\\F19.xltm")

In [345]:
dfframe_format19.isnull().sum()

Unnamed: 0    0
Lat,Lngt      7
Latitude      7
Longitude     7
Trip_id       0
Path          0
GPS_dt_tm     0
dtype: int64

In [346]:
dfframe_format19.shape

(181066, 7)

In [347]:
#181066

In [348]:
dfframe_format19.isnull().sum()

Unnamed: 0    0
Lat,Lngt      7
Latitude      7
Longitude     7
Trip_id       0
Path          0
GPS_dt_tm     0
dtype: int64

In [349]:
dfframe_format19 = dfframe_format19.dropna(how='any',axis=0)

In [350]:
dfframe_format19.shape

(181059, 7)

In [351]:
dfframe_format19.drop(dfframe_format19[['Unnamed: 0','Path']],axis=1,inplace=True)

In [352]:
dfframe_format19

,"Lat,Lngt",Latitude,Longitude,Trip_id,GPS_dt_tm
0,"13.004344,79.990042",13.004344,79.990042,HR55U4599_08092021,2021-09-08 10:15:00
1,"13.004344,79.990042",13.004344,79.990042,HR55U4599_08092021,2021-09-08 10:20:00
2,"13.004344,79.990042",13.004344,79.990042,HR55U4599_08092021,2021-09-08 10:25:00
3,"13.004344,79.990042",13.004344,79.990042,HR55U4599_08092021,2021-09-08 10:30:00
4,"13.004344,79.990048",13.004344,79.990048,HR55U4599_08092021,2021-09-08 10:35:00
...,...,...,...,...,...
181061,"15.2959,76.912409",15.295900,76.912409,NL01Q6778_10082021,2021-08-15 23:42:00
181062,"15.267827,76.911796",15.267827,76.911796,NL01Q6778_10082021,2021-08-15 23:47:00
181063,"15.236758,76.908142",15.236758,76.908142,NL01Q6778_10082021,2021-08-15 23:52:00
181064,"15.200762,76.910693",15.200762,76.910693,NL01Q6778_10082021,2021-08-15 23:57:00
181065,"15.188828,76.911902",15.188828,76.911902,NL01Q6778_10082021,2021-08-15 23:58:00

In [353]:
dfframe_format19 = dfframe_format19[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [354]:
dfframe_format19

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,HR55U4599_08092021,"13.004344,79.990042",13.004344,79.990042,2021-09-08 10:15:00
1,HR55U4599_08092021,"13.004344,79.990042",13.004344,79.990042,2021-09-08 10:20:00
2,HR55U4599_08092021,"13.004344,79.990042",13.004344,79.990042,2021-09-08 10:25:00
3,HR55U4599_08092021,"13.004344,79.990042",13.004344,79.990042,2021-09-08 10:30:00
4,HR55U4599_08092021,"13.004344,79.990048",13.004344,79.990048,2021-09-08 10:35:00
...,...,...,...,...,...
181061,NL01Q6778_10082021,"15.2959,76.912409",15.295900,76.912409,2021-08-15 23:42:00
181062,NL01Q6778_10082021,"15.267827,76.911796",15.267827,76.911796,2021-08-15 23:47:00
181063,NL01Q6778_10082021,"15.236758,76.908142",15.236758,76.908142,2021-08-15 23:52:00
181064,NL01Q6778_10082021,"15.200762,76.910693",15.200762,76.910693,2021-08-15 23:57:00
181065,NL01Q6778_10082021,"15.188828,76.911902",15.188828,76.911902,2021-08-15 23:58:00

In [355]:
# format 9

In [356]:
## format 9
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f9=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F9"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            #df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
                #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
                #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
                #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f9.append(df_tempa)
            dfframe_format9 = pd.concat(df_f9, axis=0, ignore_index=True)
            #dfframe_format19.Trip_id = dfframe_format19.Trip_id.str.replace('[.xls]', '')
            #dfframe_format19.Trip_id = dfframe_format19.Trip_id.str.replace('[.xlsx]', '')

In [357]:
dfframe_format9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68289 entries, 0 to 68288
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   68289 non-null  float64
 1   Longitude  68289 non-null  float64
 2   GPS_dt_tm  68289 non-null  datetime64[ns]
 3   Trip_id    68289 non-null  object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 2.1+ MB

In [358]:
dfframe_format9.isnull().sum()

Latitude     0
Longitude    0
GPS_dt_tm    0
Trip_id      0
dtype: int64

In [359]:
dfframe_format9.Trip_id = dfframe_format9.Trip_id.str.replace('[.xls]', '')
dfframe_format9.Trip_id = dfframe_format9.Trip_id.str.replace('[.xlsx]', '')

In [360]:
dfframe_format9.Trip_id.value_counts().count()

40

In [361]:
dfframe_format9['Lat,Lngt'] = dfframe_format9["Latitude"].astype(str) + dfframe_format9["Longitude"].astype(str)

In [362]:
dfframe_format9 = dfframe_format9[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [363]:
dfframe_format9

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,NL01AB8077_21092021,13.0231170780.02675781,13.023117,80.026758,2021-09-17 00:00:00
1,NL01AB8077_21092021,13.0231170780.02675781,13.023117,80.026758,2021-09-17 00:05:00
2,NL01AB8077_21092021,13.0231170780.02675781,13.023117,80.026758,2021-09-17 00:10:00
3,NL01AB8077_21092021,13.0231170780.02675781,13.023117,80.026758,2021-09-17 00:15:00
4,NL01AB8077_21092021,13.0231170780.02675781,13.023117,80.026758,2021-09-17 00:20:00
...,...,...,...,...,...
68284,NL01N3246_07092021,24.9922932983.85244954,24.992293,83.852450,2021-09-14 17:40:00
68285,NL01N3246_07092021,25.0156941783.82591146,25.015694,83.825911,2021-09-14 17:45:00
68286,NL01N3246_07092021,25.0403442483.80348307,25.040344,83.803483,2021-09-14 17:50:00
68287,NL01N3246_07092021,25.0614807183.77119141,25.061481,83.771191,2021-09-14 17:55:00
68288,NL01N3246_07092021,25.0825398883.7405599,25.082540,83.740560,2021-09-14 18:00:00

In [364]:
## format 7
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f7=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F7"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            #df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            #df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
                #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            
            #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f7.append(df_tempa)
            dfframe_format7 = pd.concat(df_f7, axis=0, ignore_index=True)
            dfframe_format7.Trip_id = dfframe_format7.Trip_id.str.replace('[.xls]', '')
            dfframe_format7.Trip_id = dfframe_format7.Trip_id.str.replace('[.xlsx]', '')

In [365]:
dfframe_format7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25740 entries, 0 to 25739
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Lat,Lngt   25740 non-null  object
 1   Date       25740 non-null  object
 2   Time       25740 non-null  object
 3   GPS_dt_tm  25740 non-null  datetime64[ns]
 4   Latitude   25740 non-null  float64
 5   Longitude  25740 non-null  float64
 6   Trip_id    25740 non-null  object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 1.4+ MB

In [366]:
#dfframe_format7.drop(dfframe_format7[['Date','Time']],axis=1,inplace=True)

In [367]:
dfframe_format7.head(3)

,"Lat,Lngt",Date,Time,GPS_dt_tm,Latitude,Longitude,Trip_id
0,"13.0132756,80.0024444",15-10-2021,00:00:27,2021-10-15 00:00:27,13.013276,80.002444,NL01AB1201_15102021
1,"13.0132756,80.0024444",15-10-2021,00:05:27,2021-10-15 00:05:27,13.013276,80.002444,NL01AB1201_15102021
2,"13.0132756,80.0024444",15-10-2021,00:10:27,2021-10-15 00:10:27,13.013276,80.002444,NL01AB1201_15102021

In [368]:
dfframe_format7 = dfframe_format7[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [369]:
dfframe_format7.Trip_id.value_counts().count()

25

In [370]:
dfframe_format7.isnull().sum()

Trip_id      0
Lat,Lngt     0
Latitude     0
Longitude    0
GPS_dt_tm    0
dtype: int64

In [371]:
dfframe_format7.Trip_id.value_counts().sum()

25740

In [372]:
## format 16
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f16=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F16"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            #df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            
            #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f16.append(df_tempa)
            dfframe_format16 = pd.concat(df_f16, axis=0, ignore_index=True)
            dfframe_format16.Trip_id = dfframe_format16.Trip_id.str.replace('[.xls]', '')
            dfframe_format16.Trip_id = dfframe_format16.Trip_id.str.replace('[.xlsx]', '')

In [373]:
dfframe_format16

,"Lat,Lngt",Period,Latitude,Longitude,Trip_id
0,"14.242812,79.887582",19/10 00:00 :19/10 00:06,14.242812,79.887582,NL01AA3592_19102021
1,"14.226756,79.881298",19/10 00:06 :19/10 00:12,14.226756,79.881298,NL01AA3592_19102021
2,"14.184558,79.869476",19/10 00:12 :19/10 00:18,14.184558,79.869476,NL01AA3592_19102021
3,"14.157398,79.864978",19/10 00:18 :19/10 00:24,14.157398,79.864978,NL01AA3592_19102021
4,"14.116826,79.874987",19/10 00:24 :19/10 00:30,14.116826,79.874987,NL01AA3592_19102021
...,...,...,...,...,...
2372,"16.68855,74.291853",03/09 09:06 :03/09 09:12,16.688550,74.291853,NL01Q2635_01092021
2373,"16.686973,74.292312",03/09 09:12 :03/09 09:18,16.686973,74.292312,NL01Q2635_01092021
2374,"16.687845,74.292503",03/09 09:18 :03/09 09:24,16.687845,74.292503,NL01Q2635_01092021
2375,"16.687845,74.292503",03/09 09:24 :03/09 09:28,16.687845,74.292503,NL01Q2635_01092021
2376,NaN,01/09 00:00 :03/09 09:28,NaN,NaN,NL01Q2635_01092021

In [374]:
dfframe_format16['GPS_dt_tm'] = dfframe_format16['Period'].map(lambda x:"2021"+"-"+str(x)[16:19]+"-"+str(x)[13:15]+" " +str(x)[19:25])

In [375]:
dfframe_format16['GPS_dt_tm'] = pd.to_datetime(dfframe_format16['GPS_dt_tm'])

In [376]:
dfframe_format16

,"Lat,Lngt",Period,Latitude,Longitude,Trip_id,GPS_dt_tm
0,"14.242812,79.887582",19/10 00:00 :19/10 00:06,14.242812,79.887582,NL01AA3592_19102021,2021-10-19 00:06:00
1,"14.226756,79.881298",19/10 00:06 :19/10 00:12,14.226756,79.881298,NL01AA3592_19102021,2021-10-19 00:12:00
2,"14.184558,79.869476",19/10 00:12 :19/10 00:18,14.184558,79.869476,NL01AA3592_19102021,2021-10-19 00:18:00
3,"14.157398,79.864978",19/10 00:18 :19/10 00:24,14.157398,79.864978,NL01AA3592_19102021,2021-10-19 00:24:00
4,"14.116826,79.874987",19/10 00:24 :19/10 00:30,14.116826,79.874987,NL01AA3592_19102021,2021-10-19 00:30:00
...,...,...,...,...,...,...
2372,"16.68855,74.291853",03/09 09:06 :03/09 09:12,16.688550,74.291853,NL01Q2635_01092021,2021-09-03 09:12:00
2373,"16.686973,74.292312",03/09 09:12 :03/09 09:18,16.686973,74.292312,NL01Q2635_01092021,2021-09-03 09:18:00
2374,"16.687845,74.292503",03/09 09:18 :03/09 09:24,16.687845,74.292503,NL01Q2635_01092021,2021-09-03 09:24:00
2375,"16.687845,74.292503",03/09 09:24 :03/09 09:28,16.687845,74.292503,NL01Q2635_01092021,2021-09-03 09:28:00
2376,NaN,01/09 00:00 :03/09 09:28,NaN,NaN,NL01Q2635_01092021,2021-09-03 09:28:00

In [377]:
dfframe_format16 = dfframe_format16[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [378]:
dfframe_format16.Trip_id.value_counts().count()

4

In [379]:
dfframe_format16.Trip_id.value_counts().count()

4

In [380]:
dfframe_format16.shape

(2377, 5)

In [381]:
dfframe_format9.isnull().sum()

Trip_id      0
Lat,Lngt     0
Latitude     0
Longitude    0
GPS_dt_tm    0
dtype: int64

In [382]:
dfframe_format16

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,NL01AA3592_19102021,"14.242812,79.887582",14.242812,79.887582,2021-10-19 00:06:00
1,NL01AA3592_19102021,"14.226756,79.881298",14.226756,79.881298,2021-10-19 00:12:00
2,NL01AA3592_19102021,"14.184558,79.869476",14.184558,79.869476,2021-10-19 00:18:00
3,NL01AA3592_19102021,"14.157398,79.864978",14.157398,79.864978,2021-10-19 00:24:00
4,NL01AA3592_19102021,"14.116826,79.874987",14.116826,79.874987,2021-10-19 00:30:00
...,...,...,...,...,...
2372,NL01Q2635_01092021,"16.68855,74.291853",16.688550,74.291853,2021-09-03 09:12:00
2373,NL01Q2635_01092021,"16.686973,74.292312",16.686973,74.292312,2021-09-03 09:18:00
2374,NL01Q2635_01092021,"16.687845,74.292503",16.687845,74.292503,2021-09-03 09:24:00
2375,NL01Q2635_01092021,"16.687845,74.292503",16.687845,74.292503,2021-09-03 09:28:00
2376,NL01Q2635_01092021,NaN,NaN,NaN,2021-09-03 09:28:00

In [383]:
dfframe_format16 = dfframe_format16.dropna(how='any',axis=0)

In [384]:
dfframe_format16.shape

(2373, 5)

In [385]:
## format 8
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f8=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F8"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            #df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f8.append(df_tempa)
            dfframe_format8 = pd.concat(df_f8, axis=0, ignore_index=True)
            dfframe_format8.Trip_id = dfframe_format8.Trip_id.str.replace('[.xls]', '')
            dfframe_format8.Trip_id = dfframe_format8.Trip_id.str.replace('[.xlsx]', '')

In [386]:
dfframe_format8['Trip_id'].value_counts().count()

4

In [387]:
dfframe_format8.isnull().sum()

Lat,Lngt         4
Period           0
Unnamed: 2    5033
Latitude         4
Longitude        4
GPS_dt_tm        0
Trip_id          0
dtype: int64

In [388]:
dfframe_format8.drop('Unnamed: 2',axis=1,inplace=True)

In [389]:
dfframe_format8

,"Lat,Lngt",Period,Latitude,Longitude,GPS_dt_tm,Trip_id
0,"13.024738,80.034861",01/09 00:00 : 01/09 00:05,13.024738,80.034861,2021-09-01 00:05:00,HR55AE0996_01092021
1,"13.024738,80.034861",01/09 00:05 : 01/09 00:10,13.024738,80.034861,2021-09-01 00:10:00,HR55AE0996_01092021
2,"13.024738,80.034861",01/09 00:10 : 01/09 00:15,13.024738,80.034861,2021-09-01 00:15:00,HR55AE0996_01092021
3,"13.024738,80.034861",01/09 00:15 : 01/09 00:20,13.024738,80.034861,2021-09-01 00:20:00,HR55AE0996_01092021
4,"13.024738,80.034861",01/09 00:20 : 01/09 00:25,13.024738,80.034861,2021-09-01 00:25:00,HR55AE0996_01092021
...,...,...,...,...,...,...
5032,"20.716156,77.177357",05/09 22:00 : 05/09 22:05,20.716156,77.177357,2021-09-05 22:05:00,NL01Q0463_01092021
5033,"20.71616,77.17735",05/09 22:05 : 05/09 22:10,20.716160,77.177350,2021-09-05 22:10:00,NL01Q0463_01092021
5034,"20.716164,77.177344",05/09 22:10 : 05/09 22:15,20.716164,77.177344,2021-09-05 22:15:00,NL01Q0463_01092021
5035,"20.716169,77.177338",05/09 22:15 : 05/09 22:19,20.716169,77.177338,2021-09-05 22:19:00,NL01Q0463_01092021
5036,NaN,01/09 00:00 : 05/09 22:19,NaN,NaN,2021-09-05 22:19:00,NL01Q0463_01092021

In [390]:
dfframe_format8 = dfframe_format8.dropna(how='any',axis=0)

In [391]:
dfframe_format8 = dfframe_format8[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [392]:
dfframe_format8.shape

(5033, 5)

In [393]:
dfframe_format8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5033 entries, 0 to 5035
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Trip_id    5033 non-null   object
 1   Lat,Lngt   5033 non-null   object
 2   Latitude   5033 non-null   float64
 3   Longitude  5033 non-null   float64
 4   GPS_dt_tm  5033 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 235.9+ KB

In [394]:
## format 4
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f4=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F4"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            #df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            #df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Time'])
            df_tempa['Lat,Lngt'] = df_tempa["Latitude"].astype(str) + df_tempa["Longitude"].astype(str)
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f4.append(df_tempa)
            dfframe_format4 = pd.concat(df_f4, axis=0, ignore_index=True)
            dfframe_format4.Trip_id = dfframe_format4.Trip_id.str.replace('[.xls]', '')
            dfframe_format4.Trip_id = dfframe_format4.Trip_id.str.replace('[.xlsx]', '')

In [395]:
dfframe_format4.Trip_id.value_counts().count()

4

In [396]:
dfframe_format4 = dfframe_format4[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [397]:
dfframe_format4.isnull().sum()

Trip_id      0
Lat,Lngt     0
Latitude     0
Longitude    0
GPS_dt_tm    0
dtype: int64

In [398]:
dfframe_format4 = dfframe_format4.dropna(how='any',axis=0)

In [399]:
dfframe_format4

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,NL01G7757_05102021,13.0254580.035118,13.025450,80.035118,2021-05-10 00:00:00
1,NL01G7757_05102021,13.02538880.035141,13.025388,80.035141,2021-05-10 00:05:00
2,NL01G7757_05102021,13.0254580.035118,13.025450,80.035118,2021-05-10 00:10:00
3,NL01G7757_05102021,13.0254580.035118,13.025450,80.035118,2021-05-10 00:15:00
4,NL01G7757_05102021,13.0254580.035118,13.025450,80.035118,2021-05-10 00:20:00
...,...,...,...,...,...
3735,NL01G9427_10042021,13.02521580.035446,13.025215,80.035446,2021-06-10 23:30:00
3736,NL01G9427_10042021,13.02521580.035446,13.025215,80.035446,2021-06-10 23:35:00
3737,NL01G9427_10042021,13.02521580.035446,13.025215,80.035446,2021-06-10 23:40:00
3738,NL01G9427_10042021,13.02521580.035446,13.025215,80.035446,2021-06-10 23:45:00
3739,NL01G9427_10042021,13.02521580.035446,13.025215,80.035446,2021-06-10 23:50:00

In [400]:
## format 13
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f13=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F13"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            #df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa['Lat,Lngt'] = df_tempa["Latitude"].astype(str) + df_tempa["Longitude"].astype(str)
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f13.append(df_tempa)
            dfframe_format13 = pd.concat(df_f13, axis=0, ignore_index=True)
            dfframe_format13.Trip_id = dfframe_format13.Trip_id.str.replace('[.xls]', '')
            dfframe_format13.Trip_id = dfframe_format13.Trip_id.str.replace('[.xlsx]', '')

In [401]:
dfframe_format13

,Latitude,Longitude,GPS_dt_tm,"Lat,Lngt",Trip_id
0,13.025493,80.034393,2021-10-22 00:00:00,13.02549380.034393,NL01AB6060_22102021
1,13.025488,80.034477,2021-10-22 00:05:00,13.02548880.034477,NL01AB6060_22102021
2,13.025488,80.034477,2021-10-22 00:10:00,13.02548880.034477,NL01AB6060_22102021
3,13.025488,80.034477,2021-10-22 00:15:00,13.02548880.034477,NL01AB6060_22102021
4,13.025493,80.034508,2021-10-22 00:20:00,13.02549380.034508,NL01AB6060_22102021
...,...,...,...,...,...
3908,23.019222,72.261101,2021-10-25 23:30:00,23.01922272.261101,NL01K8784_19102021
3909,23.019222,72.261101,2021-10-25 23:35:00,23.01922272.261101,NL01K8784_19102021
3910,23.019222,72.261101,2021-10-25 23:40:00,23.01922272.261101,NL01K8784_19102021
3911,23.019222,72.261101,2021-10-25 23:45:00,23.01922272.261101,NL01K8784_19102021
3912,23.019222,72.261101,2021-10-25 23:50:00,23.01922272.261101,NL01K8784_19102021

In [402]:
dfframe_format13.Trip_id.value_counts().count()

2

In [403]:
dfframe_format13.isnull().sum()

Latitude     0
Longitude    0
GPS_dt_tm    0
Lat,Lngt     0
Trip_id      0
dtype: int64

In [404]:
dfframe_format13 = dfframe_format13.dropna(how='any',axis=0)

In [405]:
dfframe_format13 = dfframe_format13[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [406]:
dfframe_format13

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,NL01AB6060_22102021,13.02549380.034393,13.025493,80.034393,2021-10-22 00:00:00
1,NL01AB6060_22102021,13.02548880.034477,13.025488,80.034477,2021-10-22 00:05:00
2,NL01AB6060_22102021,13.02548880.034477,13.025488,80.034477,2021-10-22 00:10:00
3,NL01AB6060_22102021,13.02548880.034477,13.025488,80.034477,2021-10-22 00:15:00
4,NL01AB6060_22102021,13.02549380.034508,13.025493,80.034508,2021-10-22 00:20:00
...,...,...,...,...,...
3908,NL01K8784_19102021,23.01922272.261101,23.019222,72.261101,2021-10-25 23:30:00
3909,NL01K8784_19102021,23.01922272.261101,23.019222,72.261101,2021-10-25 23:35:00
3910,NL01K8784_19102021,23.01922272.261101,23.019222,72.261101,2021-10-25 23:40:00
3911,NL01K8784_19102021,23.01922272.261101,23.019222,72.261101,2021-10-25 23:45:00
3912,NL01K8784_19102021,23.01922272.261101,23.019222,72.261101,2021-10-25 23:50:00

In [407]:
## format 2
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f2=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F2"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            #df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f2.append(df_tempa)
            dfframe_format2 = pd.concat(df_f2, axis=0, ignore_index=True)
            dfframe_format2.Trip_id = dfframe_format2.Trip_id.str.replace('[.xls]', '')
            dfframe_format2.Trip_id = dfframe_format2.Trip_id.str.replace('[.xlsx]', '')

In [408]:
dfframe_format2.drop(dfframe_format2[['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5']],axis=1,inplace=True)

In [409]:
dfframe_format2.shape

(2654, 6)

In [410]:
dfframe_format2.isnull().sum()

Lat,Lngt     2
Period       0
Latitude     2
Longitude    2
GPS_dt_tm    0
Trip_id      0
dtype: int64

In [411]:
dfframe_format2 = dfframe_format2.dropna(how='any',axis=0)

In [412]:
dfframe_format2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2652 entries, 0 to 2652
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Lat,Lngt   2652 non-null   object
 1   Period     2652 non-null   object
 2   Latitude   2652 non-null   float64
 3   Longitude  2652 non-null   float64
 4   GPS_dt_tm  2652 non-null   datetime64[ns]
 5   Trip_id    2652 non-null   object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 145.0+ KB

In [413]:
dfframe_format2 = dfframe_format2[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [414]:
dfframe_format2

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,HR55S4482_07092021,"12.985476,80.00984",12.985476,80.009840,2021-09-07 00:05:00
1,HR55S4482_07092021,"12.985476,80.00984",12.985476,80.009840,2021-09-07 00:10:00
2,HR55S4482_07092021,"12.985476,80.00984",12.985476,80.009840,2021-09-07 00:15:00
3,HR55S4482_07092021,"12.985476,80.00984",12.985476,80.009840,2021-09-07 00:20:00
4,HR55S4482_07092021,"12.985476,80.00984",12.985476,80.009840,2021-09-07 00:25:00
...,...,...,...,...,...
2648,KA429932_29092021,"12.919132,79.340781",12.919132,79.340781,2021-10-01 10:40:00
2649,KA429932_29092021,"12.912896,79.375315",12.912896,79.375315,2021-10-01 10:45:00
2650,KA429932_29092021,"12.909772,79.403622",12.909772,79.403622,2021-10-01 10:50:00
2651,KA429932_29092021,"12.901708,79.432851",12.901708,79.432851,2021-10-01 10:55:00
2652,KA429932_29092021,"12.900599,79.45945",12.900599,79.459450,2021-10-01 10:58:00

In [415]:
## format 6
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f6=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F6"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            #df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            ##df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f6.append(df_tempa)
            dfframe_format6 = pd.concat(df_f6, axis=0, ignore_index=True)
            dfframe_format6.Trip_id = dfframe_format6.Trip_id.str.replace('[.xls]', '')
            dfframe_format6.Trip_id = dfframe_format6.Trip_id.str.replace('[.xlsx]', '')

In [416]:
dfframe_format6

,Vehicle,"Lat,Lngt",Date,Time,GPS_dt_tm,Latitude,Longitude,Trip_id
0,NL01K8951,"12.9944278,80.0126844",04-09-2021,01:03:25,2021-04-09 01:03:25,12.994428,80.012684,NL01K8951_04092021
1,NL01K8951,"12.9944278,80.0126844",04-09-2021,01:08:25,2021-04-09 01:08:25,12.994428,80.012684,NL01K8951_04092021
2,NL01K8951,"12.9944278,80.0126844",04-09-2021,01:41:33,2021-04-09 01:41:33,12.994428,80.012684,NL01K8951_04092021
3,NL01K8951,"12.9993233,80.01368",04-09-2021,01:46:39,2021-04-09 01:46:39,12.999323,80.013680,NL01K8951_04092021
4,NL01K8951,"13.0039756,79.9936978",04-09-2021,01:51:39,2021-04-09 01:51:39,13.003976,79.993698,NL01K8951_04092021
...,...,...,...,...,...,...,...,...
631,NL01K8951,"22.47904,88.0699733",09-09-2021,15:02:58,2021-09-09 15:02:58,22.479040,88.069973,NL01K8951_04092021
632,NL01K8951,"22.47904,88.0699733",09-09-2021,16:07:12,2021-09-09 16:07:12,22.479040,88.069973,NL01K8951_04092021
633,NL01K8951,"22.47904,88.0699733",09-09-2021,20:22:53,2021-09-09 20:22:53,22.479040,88.069973,NL01K8951_04092021
634,NL01K8951,"22.47904,88.0699733",09-09-2021,21:29:49,2021-09-09 21:29:49,22.479040,88.069973,NL01K8951_04092021
635,NL01K8951,"22.4792689,88.0686222",09-09-2021,22:34:59,2021-09-09 22:34:59,22.479269,88.068622,NL01K8951_04092021

In [417]:
dfframe_format6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Vehicle    636 non-null    object
 1   Lat,Lngt   636 non-null    object
 2   Date       636 non-null    object
 3   Time       636 non-null    object
 4   GPS_dt_tm  636 non-null    datetime64[ns]
 5   Latitude   636 non-null    float64
 6   Longitude  636 non-null    float64
 7   Trip_id    636 non-null    object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 39.9+ KB

In [418]:
dfframe_format6.drop(dfframe_format6[['Vehicle','Date','Time']], axis=1, inplace=True)
#dfframe_format2.drop(dfframe_format2[['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5']],axis=1,inplace=True)

In [419]:
dfframe_format6 = dfframe_format6[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [420]:
dfframe_format6.Trip_id.value_counts().count()

1

In [421]:
dfframe_format6.shape

(636, 5)

In [422]:
dfframe_format6.isnull().sum()

Trip_id      0
Lat,Lngt     0
Latitude     0
Longitude    0
GPS_dt_tm    0
dtype: int64

In [423]:
dfframe_format6 = dfframe_format6.dropna(how='any',axis=0)

In [424]:
dfframe_format6.Trip_id.value_counts().sum()

636

In [425]:
## format 14
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f14=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F14"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            df_tempa = df_tempa[1:]
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            #df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            ##df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            df_tempa['Lat,Lngt'] = df_tempa["Latitude"].astype(str) + df_tempa["Longitude"].astype(str)
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f14.append(df_tempa)
            dfframe_format14 = pd.concat(df_f14, axis=0, ignore_index=True)
            dfframe_format14.Trip_id = dfframe_format14.Trip_id.str.replace('[.xls]', '')
            dfframe_format14.Trip_id = dfframe_format14.Trip_id.str.replace('[.xlsx]', '')

In [426]:
dfframe_format14.shape

(820, 5)

In [427]:
dfframe_format14.isnull().sum()

Latitude     0
Longitude    0
GPS_dt_tm    0
Lat,Lngt     0
Trip_id      0
dtype: int64

In [428]:
dfframe_format14 = dfframe_format14.dropna(how='any',axis=0)

In [429]:
dfframe_format14.shape

(820, 5)

In [430]:
dfframe_format14 = dfframe_format14[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [431]:
## format 5
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f5=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F5"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            #df_tempa = df_tempa[1:]
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            df_tempa.columns = ['License_Number','Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            #df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            ##df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            df_tempa['Lat,Lngt'] = df_tempa["Latitude"].astype(str) + df_tempa["Longitude"].astype(str)
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f5.append(df_tempa)
            dfframe_format5 = pd.concat(df_f5, axis=0, ignore_index=True)
            dfframe_format5.Trip_id = dfframe_format5.Trip_id.str.replace('[.xls]', '')
            dfframe_format5.Trip_id = dfframe_format5.Trip_id.str.replace('[.xlsx]', '')

In [432]:
dfframe_format5

,License_Number,Latitude,Longitude,GPS_dt_tm,"Lat,Lngt",Trip_id
0,NL01G7717,13.025347,80.035110,2021-10-23 00:00:00,13.02534780.03511,NL01G7717_23102021
1,NL01G7717,13.025368,80.035034,2021-10-23 00:05:00,13.02536880.035034,NL01G7717_23102021
2,NL01G7717,13.025368,80.035034,2021-10-23 00:10:00,13.02536880.035034,NL01G7717_23102021
3,NL01G7717,13.025343,80.034996,2021-10-23 00:15:00,13.02534380.034996,NL01G7717_23102021
4,NL01G7717,13.025343,80.034996,2021-10-23 00:20:00,13.02534380.034996,NL01G7717_23102021
...,...,...,...,...,...,...
858,NL01G7717,8.674968,77.755463,2021-10-25 23:30:00,8.67496877.755463,NL01G7717_23102021
859,NL01G7717,8.699787,77.766144,2021-10-25 23:35:00,8.69978777.766144,NL01G7717_23102021
860,NL01G7717,8.728313,77.761101,2021-10-25 23:40:00,8.72831377.761101,NL01G7717_23102021
861,NL01G7717,8.728313,77.761101,2021-10-25 23:45:00,8.72831377.761101,NL01G7717_23102021
862,NL01G7717,8.728313,77.761101,2021-10-25 23:50:00,8.72831377.761101,NL01G7717_23102021

In [433]:
dfframe_format5.drop(['License_Number'],axis=1,inplace=True)

In [434]:
dfframe_format5 = dfframe_format5[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [435]:
dfframe_format5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863 entries, 0 to 862
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Trip_id    863 non-null    object
 1   Lat,Lngt   863 non-null    object
 2   Latitude   863 non-null    float64
 3   Longitude  863 non-null    float64
 4   GPS_dt_tm  863 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 33.8+ KB

In [436]:
dfframe_format5.isnull().sum()

Trip_id      0
Lat,Lngt     0
Latitude     0
Longitude    0
GPS_dt_tm    0
dtype: int64

In [437]:
dfframe_format5.Trip_id.value_counts().count()

1

In [438]:
## format 1
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f1=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F1"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            #df_tempa = df_tempa[1:]
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            df_tempa.columns = ['License_Number','Latitude', 'Longitude', 'GPS_dt_tm']
            df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])  
            df_tempa['Trip_id'] = str(filename)
            df_f1.append(df_tempa)
            dfframe_format1 = pd.concat(df_f1, axis=0, ignore_index=True)
            dfframe_format1.Trip_id = dfframe_format1.Trip_id.str.replace('[.xls]', '')
            dfframe_format1.Trip_id = dfframe_format1.Trip_id.str.replace('[.xlsx]', '')

    #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            ##df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['GPS_dt_tm'])

In [439]:
dfframe_format1

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,NL01G7717_23102021,13.02534780.03511,13.025347,80.035110,2021-10-23 00:00:00
1,NL01G7717_23102021,13.02536880.035034,13.025368,80.035034,2021-10-23 00:05:00
2,NL01G7717_23102021,13.02536880.035034,13.025368,80.035034,2021-10-23 00:10:00
3,NL01G7717_23102021,13.02534380.034996,13.025343,80.034996,2021-10-23 00:15:00
4,NL01G7717_23102021,13.02534380.034996,13.025343,80.034996,2021-10-23 00:20:00
...,...,...,...,...,...
858,NL01G7717_23102021,8.67496877.755463,8.674968,77.755463,2021-10-25 23:30:00
859,NL01G7717_23102021,8.69978777.766144,8.699787,77.766144,2021-10-25 23:35:00
860,NL01G7717_23102021,8.72831377.761101,8.728313,77.761101,2021-10-25 23:40:00
861,NL01G7717_23102021,8.72831377.761101,8.728313,77.761101,2021-10-25 23:45:00
862,NL01G7717_23102021,8.72831377.761101,8.728313,77.761101,2021-10-25 23:50:00

In [440]:
dfframe_format1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 863 entries, 0 to 862
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Trip_id    863 non-null    object
 1   Lat,Lngt   863 non-null    object
 2   Latitude   863 non-null    float64
 3   Longitude  863 non-null    float64
 4   GPS_dt_tm  863 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 40.5+ KB

In [441]:
dfframe_format1 = dfframe_format1.dropna(how='any',axis=0)

In [442]:
dfframe_format1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 863 entries, 0 to 862
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Trip_id    863 non-null    object
 1   Lat,Lngt   863 non-null    object
 2   Latitude   863 non-null    float64
 3   Longitude  863 non-null    float64
 4   GPS_dt_tm  863 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 40.5+ KB

In [443]:
dfframe_format1.Trip_id.value_counts()

NL01G7717_23102021    863
Name: Trip_id, dtype: int64

In [444]:
dfframe_format1 = dfframe_format1[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [445]:
dfframe_format1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 863 entries, 0 to 862
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Trip_id    863 non-null    object
 1   Lat,Lngt   863 non-null    object
 2   Latitude   863 non-null    float64
 3   Longitude  863 non-null    float64
 4   GPS_dt_tm  863 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 40.5+ KB

In [446]:
dfframe_format1

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,NL01G7717_23102021,13.02534780.03511,13.025347,80.035110,2021-10-23 00:00:00
1,NL01G7717_23102021,13.02536880.035034,13.025368,80.035034,2021-10-23 00:05:00
2,NL01G7717_23102021,13.02536880.035034,13.025368,80.035034,2021-10-23 00:10:00
3,NL01G7717_23102021,13.02534380.034996,13.025343,80.034996,2021-10-23 00:15:00
4,NL01G7717_23102021,13.02534380.034996,13.025343,80.034996,2021-10-23 00:20:00
...,...,...,...,...,...
858,NL01G7717_23102021,8.67496877.755463,8.674968,77.755463,2021-10-25 23:30:00
859,NL01G7717_23102021,8.69978777.766144,8.699787,77.766144,2021-10-25 23:35:00
860,NL01G7717_23102021,8.72831377.761101,8.728313,77.761101,2021-10-25 23:40:00
861,NL01G7717_23102021,8.72831377.761101,8.728313,77.761101,2021-10-25 23:45:00
862,NL01G7717_23102021,8.72831377.761101,8.728313,77.761101,2021-10-25 23:50:00

In [447]:
## format 3
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f3=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F3"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            #df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            #df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Packet Time'])
            df_tempa['Lat,Lngt'] = df_tempa["Latitude"].astype(str) + df_tempa["Longitude"].astype(str)
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f3.append(df_tempa)
            dfframe_format3 = pd.concat(df_f3, axis=0, ignore_index=True)
            dfframe_format3.Trip_id = dfframe_format3.Trip_id.str.replace('[.xls]', '')
            dfframe_format3.Trip_id = dfframe_format3.Trip_id.str.replace('[.xlsx]', '')

In [448]:
dfframe_format3.Trip_id.value_counts()

HR46E1707_24092021    25332
Name: Trip_id, dtype: int64

In [449]:
dfframe_format3.isnull().sum()

Unnamed: 0     25332
Truck No           1
Latitude           1
Longitude          1
Packet Time        1
GPS_dt_tm          1
Lat,Lngt           0
Trip_id            0
dtype: int64

In [450]:
dfframe_format3.drop(dfframe_format3[['Unnamed: 0','Truck No']],axis=1,inplace=True)

In [451]:
dfframe_format3.isnull().sum()

Latitude       1
Longitude      1
Packet Time    1
GPS_dt_tm      1
Lat,Lngt       0
Trip_id        0
dtype: int64

In [452]:
dfframe_format3 = dfframe_format3.dropna(how='any',axis=0)

In [453]:
dfframe_format3.shape

(25331, 6)

In [454]:
dfframe_format3

,Latitude,Longitude,Packet Time,GPS_dt_tm,"Lat,Lngt",Trip_id
0,13.024173,80.027069,24-Sep-2021 02:05,2021-09-24 02:05:00,13.02417380.027069,HR46E1707_24092021
1,13.024173,80.027046,24-Sep-2021 02:05,2021-09-24 02:05:00,13.02417380.027046,HR46E1707_24092021
2,13.024349,80.027046,24-Sep-2021 14:07,2021-09-24 14:07:00,13.02434980.027046,HR46E1707_24092021
3,13.024349,80.027046,24-Sep-2021 14:07,2021-09-24 14:07:00,13.02434980.027046,HR46E1707_24092021
4,13.024341,80.027046,24-Sep-2021 14:08,2021-09-24 14:08:00,13.02434180.027046,HR46E1707_24092021
...,...,...,...,...,...,...
25326,28.375179,76.951096,03-Oct-2021 23:57,2021-10-03 23:57:00,28.37517976.951096,HR46E1707_24092021
25327,28.375179,76.951096,03-Oct-2021 23:58,2021-10-03 23:58:00,28.37517976.951096,HR46E1707_24092021
25328,28.375179,76.951096,03-Oct-2021 23:58,2021-10-03 23:58:00,28.37517976.951096,HR46E1707_24092021
25329,28.375179,76.951096,03-Oct-2021 23:59,2021-10-03 23:59:00,28.37517976.951096,HR46E1707_24092021
25330,28.375179,76.951096,03-Oct-2021 23:59,2021-10-03 23:59:00,28.37517976.951096,HR46E1707_24092021

In [455]:
dfframe_format3 = dfframe_format3[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [456]:
## format 11
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f11=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F11"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            #df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            #df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Packet Time'])
            df_tempa['Lat,Lngt'] = df_tempa["Latitude"].astype(str) + df_tempa["Longitude"].astype(str)
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f11.append(df_tempa)
            dfframe_format11 = pd.concat(df_f11, axis=0, ignore_index=True)
            dfframe_format11.Trip_id = dfframe_format11.Trip_id.str.replace('[.xls]', '')
            dfframe_format11.Trip_id = dfframe_format11.Trip_id.str.replace('[.xlsx]', '')

In [457]:
dfframe_format11

,Latitude,Longitude,Packet Time,GPS_dt_tm,"Lat,Lngt",Trip_id
0,12.994770,80.012856,20-Aug-2021 00:05,2021-08-20 00:05:00,12.9947780.012856,HR38W4395_20082021
1,12.994770,80.012856,20-Aug-2021 00:10,2021-08-20 00:10:00,12.9947780.012856,HR38W4395_20082021
2,12.994770,80.012856,20-Aug-2021 00:15,2021-08-20 00:15:00,12.9947780.012856,HR38W4395_20082021
3,12.994770,80.012856,20-Aug-2021 00:20,2021-08-20 00:20:00,12.9947780.012856,HR38W4395_20082021
4,12.994770,80.012856,20-Aug-2021 00:25,2021-08-20 00:25:00,12.9947780.012856,HR38W4395_20082021
...,...,...,...,...,...,...
274,12.642815,78.056099,20-Aug-2021 23:48,2021-08-20 23:48:00,12.64281578.056099,HR38W4395_20082021
275,12.642815,78.056099,20-Aug-2021 23:53,2021-08-20 23:53:00,12.64281578.056099,HR38W4395_20082021
276,12.642815,78.056099,20-Aug-2021 23:58,2021-08-20 23:58:00,12.64281578.056099,HR38W4395_20082021
277,12.642815,78.056099,20-Aug-2021 23:59,2021-08-20 23:59:00,12.64281578.056099,HR38W4395_20082021
278,NaN,NaN,NaN,NaT,nannan,HR38W4395_20082021

In [458]:
dfframe_format11 = dfframe_format11[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [459]:
dfframe_format11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Trip_id    279 non-null    object
 1   Lat,Lngt   279 non-null    object
 2   Latitude   278 non-null    float64
 3   Longitude  278 non-null    float64
 4   GPS_dt_tm  278 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 11.0+ KB

In [460]:
dfframe_format11.Trip_id.value_counts()

HR38W4395_20082021    279
Name: Trip_id, dtype: int64

In [461]:
dfframe_format11 = dfframe_format11.dropna(how='any',axis=0)

In [462]:
dfframe_format11.shape

(278, 5)

In [463]:
## format 12
#print(x["'NL01AC2907_02.09.2021.xlsx'"])
df_f12=[]
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        fmt_typ = file_frmts[("'" + filename + "'")]   
        if (fmt_typ == "F12"):
            df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
            #df_tempa['GPS_dt_time'] = pd.to_datetime(df_tempa['Date'] + ' ' + df_tempa['Time'])
            #df_tempa.columns = ['Latitude', 'Longitude', 'GPS_dt_tm']
            #if 'Period' in df_tempa:
            #print(df_tempa['Trip_id'].value_counts())
                #df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Date'])
            #df_tempa['Period'] = df_tempa['Period'].replace('\n','', regex=True)
            #df_tempa['Lat,Lngt'] = df_tempa['Lat,Lngt'].replace('\n','', regex=True)
            #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
            #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
            #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'][0:6].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
            #df_tempa['GPS_dt_tm'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa['GPS_dt_tm'] = pd.to_datetime(df_tempa['Time'])
            df_tempa['Lat,Lngt'] = df_tempa["Latitude"].astype(str) + df_tempa["Longitude"].astype(str)
            #df_tempa['LatLong'] = df_tempa['Lat,Lngt']
            #else:
                #if('Date' in df_tempa):
                    #df_tempa['GPS_dt_tm_new'] = pd.to_datetime(df_tempa['Date'])
                   #df_tempa['Lat,Lngt'] = df_tempa['LatLong']
                    #df_tempa[['Latitude', 'Longitude']] = df_tempa['Lat,Lngt'].str.split(',', 1, expand=True)
                    #df_tempa['Latitude'] = df_tempa['Latitude'].astype(float)
                    #df_tempa['Longitude'] = df_tempa['Longitude'].astype(float)
                
            df_tempa['Trip_id'] = str(filename)
            #df_tempa['Path'] = str(path)
            df_f12.append(df_tempa)
            dfframe_format12 = pd.concat(df_f12, axis=0, ignore_index=True)
            dfframe_format12.Trip_id = dfframe_format12.Trip_id.str.replace('[.xls]', '')
            dfframe_format12.Trip_id = dfframe_format12.Trip_id.str.replace('[.xlsx]', '')

In [464]:
dfframe_format12

,Latitude,Longitude,Time,GPS_dt_tm,"Lat,Lngt",Trip_id
0,13.025482,80.034416,04/10/21 12:00 AM,2021-04-10 00:00:00,13.02548280.034416,NL01AB6068_04102021
1,13.025388,80.034363,04/10/21 12:05 AM,2021-04-10 00:05:00,13.02538880.034363,NL01AB6068_04102021
2,13.026557,80.034843,04/10/21 12:10 AM,2021-04-10 00:10:00,13.02655780.034843,NL01AB6068_04102021
3,13.020853,80.014626,04/10/21 12:15 AM,2021-04-10 00:15:00,13.02085380.014626,NL01AB6068_04102021
4,13.003177,79.996902,04/10/21 12:20 AM,2021-04-10 00:20:00,13.00317779.996902,NL01AB6068_04102021
...,...,...,...,...,...,...
16398,18.503422,73.927742,16/10/21 11:30 PM,2021-10-16 23:30:00,18.50342273.927742,NL01N3539_12102021
16399,18.499826,73.946236,16/10/21 11:35 PM,2021-10-16 23:35:00,18.49982673.946236,NL01N3539_12102021
16400,18.497791,73.961311,16/10/21 11:40 PM,2021-10-16 23:40:00,18.49779173.961311,NL01N3539_12102021
16401,18.497791,73.961311,16/10/21 11:45 PM,2021-10-16 23:45:00,18.49779173.961311,NL01N3539_12102021
16402,18.497791,73.961311,16/10/21 11:50 PM,2021-10-16 23:50:00,18.49779173.961311,NL01N3539_12102021

In [465]:
dfframe_format12 = dfframe_format12[['Trip_id','Lat,Lngt','Latitude','Longitude','GPS_dt_tm']]

In [466]:
dfframe_format12.Trip_id.value_counts().count()

13

In [467]:
dfframe_format12.isnull().sum()

Trip_id      0
Lat,Lngt     0
Latitude     0
Longitude    0
GPS_dt_tm    0
dtype: int64

In [468]:
# concat - datasets

In [469]:
pdList = [dfframe_format1, dfframe_format2,dfframe_format3,dfframe_format4,dfframe_format5,dfframe_format6,dfframe_format7,dfframe_format8,dfframe_format9,dfframe_format10,dfframe_format11,dfframe_format12,dfframe_format13,dfframe_format14,dfframe_format16,dfframe_format17,dfframe_format18,dfframe_format19]  # List of your dataframes
master_data = pd.concat(pdList)

In [470]:
master_data

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm,Packet Time
0,NL01G7717_23102021,13.02534780.03511,13.0253,80.0351,2021-10-23 00:00:00,NaN
1,NL01G7717_23102021,13.02536880.035034,13.0254,80.035,2021-10-23 00:05:00,NaN
2,NL01G7717_23102021,13.02536880.035034,13.0254,80.035,2021-10-23 00:10:00,NaN
3,NL01G7717_23102021,13.02534380.034996,13.0253,80.035,2021-10-23 00:15:00,NaN
4,NL01G7717_23102021,13.02534380.034996,13.0253,80.035,2021-10-23 00:20:00,NaN
...,...,...,...,...,...,...
181061,NL01Q6778_10082021,"15.2959,76.912409",15.2959,76.9124,2021-08-15 23:42:00,NaN
181062,NL01Q6778_10082021,"15.267827,76.911796",15.2678,76.9118,2021-08-15 23:47:00,NaN
181063,NL01Q6778_10082021,"15.236758,76.908142",15.2368,76.9081,2021-08-15 23:52:00,NaN
181064,NL01Q6778_10082021,"15.200762,76.910693",15.2008,76.9107,2021-08-15 23:57:00,NaN
181065,NL01Q6778_10082021,"15.188828,76.911902",15.1888,76.9119,2021-08-15 23:58:00,NaN

In [471]:
master_data.drop('Packet Time',axis = 1,inplace=True)

In [472]:
master_data.shape

(2663905, 5)

In [473]:
master_data

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,NL01G7717_23102021,13.02534780.03511,13.0253,80.0351,2021-10-23 00:00:00
1,NL01G7717_23102021,13.02536880.035034,13.0254,80.035,2021-10-23 00:05:00
2,NL01G7717_23102021,13.02536880.035034,13.0254,80.035,2021-10-23 00:10:00
3,NL01G7717_23102021,13.02534380.034996,13.0253,80.035,2021-10-23 00:15:00
4,NL01G7717_23102021,13.02534380.034996,13.0253,80.035,2021-10-23 00:20:00
...,...,...,...,...,...
181061,NL01Q6778_10082021,"15.2959,76.912409",15.2959,76.9124,2021-08-15 23:42:00
181062,NL01Q6778_10082021,"15.267827,76.911796",15.2678,76.9118,2021-08-15 23:47:00
181063,NL01Q6778_10082021,"15.236758,76.908142",15.2368,76.9081,2021-08-15 23:52:00
181064,NL01Q6778_10082021,"15.200762,76.910693",15.2008,76.9107,2021-08-15 23:57:00
181065,NL01Q6778_10082021,"15.188828,76.911902",15.1888,76.9119,2021-08-15 23:58:00

In [295]:
#master_data.Trip_id.value_counts().count()

866

In [476]:
master_data.Trip_id.value_counts().count()

1538

In [479]:
master_data.shape

(2663905, 5)

In [481]:
master_data.Trip_id.value_counts()

HR46E0510_02092021    29350
HR46E4249_04092021    27626
HR46E1707_24092021    25331
HR46E7834_29092021    23929
HR46E2686_25092021    23832
                      ...
NL01Q4982_22092021       32
GJ14X5039_24092021       30
NL01Q4965_23092021       27
NL01Q3258_23092021       24
NL01Q7267_24092021       16
Name: Trip_id, Length: 1538, dtype: int64

In [517]:
split = pd.read_excel('C://Users//274827//Downloads/meta_new.xltm',sheet_name='Sheet1')

In [518]:
split = dict(zip(split['File'],split['File_types']))

In [519]:
split

{"'GJ12BV2880_16.10.2021.xls'": 'F1',
 "'GJ12BV6093_02.09.2021.xls'": 'F1',
 "'GJ12BV6093_02.10.2021.xls'": 'F1',
 "'GJ12BV7704_04.10.2021.xls'": 'F1',
 "'GJ12BV9360_01.10.2021.xls'": 'F1',
 "'GJ12BV9630_17.10.2021.xls'": 'F1',
 "'GJ12BV9630_24.09.2021.xls'": 'F1',
 "'HR38Y0900_08.09.2021.xls'": 'F1',
 "'HR38Y0900_13.10.2021.xls'": 'F1',
 "'HR38Y3699_08.09.2021.xls'": 'F1',
 "'HR38Y3699_29.09.2021.xls'": 'F1',
 "'HR38Y9090_04.10.2021.xls'": 'F1',
 "'HR38Y9900_15.09.2021.xls'": 'F1',
 "'HR38Y9909_03.09.2021.xls'": 'F1',
 "'HR55U0990_16.09.2021.xls'": 'F1',
 "'HR55U4599_08.09.2021.xls'": 'F1',
 "'HR55U9009_02.09.2021.xls'": 'F1',
 "'HR69B0063_14.09.2021.xls'": 'F1',
 "'HR69B0333_06.10.2021.xls'": 'F1',
 "'HR69B5571_04.09.2021.xls'": 'F1',
 "'HR69B5643_02.09.2021.xls'": 'F1',
 "'HR69B6777_15.09.2021.xls'": 'F1',
 "'HR69C0144_04.09.2021.xls'": 'F1',
 "'HR69C0900_05.10.2021.xls'": 'F1',
 "'HR69C0990_01.09.2021.xls'": 'F1',
 "'HR69C0990_29.10.2021.xls'": 'F1',
 "'HR69C0999_21.10.2021.xls'": 'F1',
 "'HR69C1134_02.09.2021.xls'": 'F1',
 "'HR69C1134_04.09.2021.xls'": 'F1',
 "'HR69C1233_29.09.2021.xls'": 'F1',
 "'HR69C3006_29.09.2021.xls'": 'F1',
 "'HR69C4599_06.10.2021.xls'": 'F1',
 "'HR69C9009_04.09.2021.xls'": 'F1',
 "'HR69C9099_14.09.2021.xls'": 'F1',
 "'HR63C0484_28.09.2021.xls'": 'F1',
 "'HR63C1907_14.09.2021.xls'": 'F1',
 "'HR63C2126_09.09.2021.xls'": 'F1',
 "'HR63C8486_21.09.2021.xls'": 'F1',
 "'NL01AA1194_27.09.2021.xls'": 'F1',
 "'NL01AB0182_23.09.2021.xls'": 'F1',
 "'NL01AC5558_06.09.2021.xls'": 'F1',
 "'NL01AD1962_23.09.2021.xls'": 'F1',
 "'NL01AE0113_23.09.2021.xls'": 'F1',
 "'NL01AE0115_29.09.2021.xls'": 'F1',
 "'NL01AE0119_07.09.2021.xls'": 'F1',
 "'NL01Q4011_30.09.2021.xls'": 'F1',
 "'NL01Q4161_19.09.2021.xls'": 'F1',
 "'HR38W0101_06.10.2021.xlsx'": 'F1',
 "'HR38W0101_30.09.2021.xlsx'": 'F1',
 "'HR38W0818_03.09.2021.xlsx'": 'F1',
 "'HR38W0818_07.09.2021.xlsx'": 'F1',
 "'HR38W0818_28.09.2021.xlsx'": 'F1',
 "'HR38W0906_25.08.2021.xlsx'": 'F1',
 "'HR38W1140_16.10.2021.xlsx'": 'F1',
 "'HR38W1702_05.09.2021.xlsx'": 'F1',
 "'HR38W1702_16.10.2021.xlsx'": 'F1',
 "'HR38W1702_21.08.2021.xlsx'": 'F1',
 "'HR38W1702_26.08.2021.xlsx'": 'F1',
 "'HR38W1771_21.08.2021.xlsx'": 'F1',
 "'HR38W1771_29.06.2021.xlsx'": 'F1',
 "'HR38W2080_21.08.2021.xlsx'": 'F1',
 "'HR38W2330_12.10.2021.xlsx'": 'F1',
 "'HR38W2501_06.10.2021.xlsx'": 'F1',
 "'HR38W2501_24.09.2021.xlsx'": 'F1',
 "'HR38W3252_04.09.2021.xlsx'": 'F1',
 "'HR38W3252_15.10.2021.xlsx'": 'F1',
 "'HR38W3252_25.08.2021.xlsx'": 'F1',
 "'HR38W3259_01.09.2021.xlsx'": 'F1',
 "'HR38W3259_19.10.2021.xlsx'": 'F1',
 "'HR38W3391_08.10.2021.xlsx'": 'F1',
 "'HR38W3946_23.08.2021.xlsx'": 'F1',
 "'HR38W4158_27.08.2021.xlsx'": 'F1',
 "'HR38W4182_09.09.2021.xlsx'": 'F1',
 "'HR38W4182_27.09.2021.xlsx'": 'F1',
 "'HR38W4395_20.08.2021.xlsx'": 'F1',
 "'HR38W4395_30.08.2021.xlsx'": 'F1',
 "'HR38W4476_07.09.2021.xlsx'": 'F1',
 "'HR38W4476_22.09.2021.xlsx'": 'F1',
 "'HR38W4479_30.08.2021.xlsx'": 'F1',
 "'HR38W4898_20.10.2021.xlsx'": 'F1',
 "'HR38W4900_18.10.2021.xlsx'": 'F1',
 "'HR38W5007_16.10.2021.xlsx'": 'F1',
 "'HR38W5513_05.10.2021.xlsx'": 'F1',
 "'HR38W5513_24.09.2021.xlsx'": 'F1',
 "'HR38W6125_03.09.2021.xlsx'": 'F1',
 "'HR38W6125_15.09.2021.xlsx'": 'F1',
 "'HR38W6289_17.09.2021.xlsx'": 'F1',
 "'HR38W6292_02.09.2021.xlsx'": 'F1',
 "'HR38W6334_13.10.2021.xlsx'": 'F1',
 "'HR38W6438_01.09.2021.xlsx'": 'F1',
 "'HR38W7293_02.09.2021.xlsx'": 'F1',
 "'HR38W7315_15.10.2021.xlsx'": 'F1',
 "'HR38W7820_08.10.2021.xlsx'": 'F1',
 "'HR38W7820_16.10.2021.xlsx'": 'F1',
 "'HR38W8378_16.09.2021.xlsx'": 'F1',
 "'HR38W8378_28.08.2021.xlsx'": 'F1',
 "'HR38W8431_04.10.2021.xlsx'": 'F1',
 "'HR38W8431_22.08.2021.xlsx'": 'F1',
 "'HR38W8521_04.10.2021.xlsx'": 'F1',
 "'HR38W8977_07.09.2021.xlsx'": 'F1',
 "'HR38W9910_28.09.2021.xlsx'": 'F1',
 "'HR38Y0264_30.08.2021.xlsx'": 'F1',
 "'HR38Y7720_07.10.2021.xlsx'": 'F1',
 "'HR38Y8412_21.08.2021.xlsx'": 'F1',
 "'HR38Y9302_20.08.2021.xlsx'": 'F1',
 "'HR38Y9761_26.08.2021.xlsx'": 'F1',
 "'HR63C0978_04.09.2021.xlsx'": 'F1',
 "'HR63C0978_05.10.2021.xlsx'": 'F1',
 "'HR63C0978_20.09.2021.xlsx'": 'F1',
 "'HR63C1683_23.08.2021.xlsx'": 'F1',
 "'HR63C1683_31.08.2021.xlsx'": 'F1',
 "'HR63C1690_24.09.2021.xlsx'": 'F1',
 "'HR63C1768_15.09.2021.xlsx'": 'F1',
 "'HR63C1768_27.08.2021.xlsx'": 'F1',
 "'HR63C1768_30.09.2021.xlsx'": 'F1',
 "'HR63C2234_11.10.2021.xlsx'": 'F1',
 "'HR63C3257_15.09.2021.xlsx'": 'F1',
 "'HR63C3381_14.09.2021.xlsx'": 'F1',
 "'HR63C3381_27.08.2021.xlsx'": 'F1',
 "'HR63C3688_26.08.2021.xlsx'": 'F1',
 "'HR63C3817_25.08.2021.xlsx'": 'F1',
 "'HR63C3817_30.09.2021.xlsx'": 'F1',
 "'HR63C3828_01.09.2021.xlsx'": 'F1',
 "'HR63C3828_24.08.2021.xlsx'": 'F1',
 "'HR63C4207_04.09.2021.xlsx'": 'F1',
 "'HR63C4207_25.09.2021.xlsx'": 'F1',
 "'HR63C4226_04.09.2021.xlsx'": 'F1',
 "'HR63C4226_23.09.2021.xlsx'": 'F1',
 "'HR63C5602_14.09.2021.xlsx'": 'F1',
 "'HR63C5602_28.08.2021.xlsx'": 'F1',
 "'HR63C6085_21.08.2021.xlsx'": 'F1',
 "'HR63C6534_01.09.2021.xlsx'": 'F1',
 "'HR63C6534_05.10.2021.xlsx'": 'F1',
 "'HR63C6534_14.09.2021.xlsx'": 'F1',
 "'HR63C7352_09.09.2021.xlsx'": 'F1',
 "'HR63C7352_29.09.2021.xlsx'": 'F1',
 "'HR63C7497_06.09.2021.xlsx'": 'F1',
 "'HR63C7497_14.09.2021.xlsx'": 'F1',
 "'HR63C7550_15.10.2021.xlsx'": 'F1',
 "'HR63C7637_21.09.2021.xlsx'": 'F1',
 "'HR63C8051_24.08.2021.xlsx'": 'F1',
 "'HR63C8307_07.09.2021.xlsx'": 'F1',
 "'HR63C8307_25.08.2021.xlsx'": 'F1',
 "'HR63C8463_05.10.2021.xlsx'": 'F1',
 "'HR63C8463_21.08.2021.xlsx'": 'F1',
 "'HR63C8695_04.10.2021.xlsx'": 'F1',
 "'HR63C8695_18.09.2021.xlsx'": 'F1',
 "'HR63C8833_04.10.2021.xlsx'": 'F1',
 "'HR63C8833_15.09.2021.xlsx'": 'F1',
 "'HR63C8992_07.09.2021.xlsx'": 'F1',
 "'HR63C8992_14.09.2021.xlsx'": 'F1',
 "'HR63C9101_01.10.2021.xlsx'": 'F1',
 "'HR63C9101_14.09.2021.xlsx'": 'F1',
 "'HR63C9101_16.10.2021.xlsx'": 'F1',
 "'HR63C9101_30.08.2021.xlsx'": 'F1',
 "'HR63C9161_21.09.2021.xlsx'": 'F1',
 "'HR63C9192_03.09.2021.xlsx'": 'F1',
 "'HR63C9192_25.08.2021.xlsx'": 'F1',
 "'HR63C9429_04.09.2021.xlsx'": 'F1',
 "'HR63C9429_14.09.2021.xlsx'": 'F1',
 "'HR63C9429_22.09.2021.xlsx'": 'F1',
 "'KA01AH1692_25.09.2021.xlsx'": 'F1',
 "'KA01AH1693_16.09.2021.xlsx'": 'F1',
 "'NL010087_08.09.2021.xlsx'": 'F1',
 "'NL010320_16.09.2021.xlsx'": 'F1',
 "'NL01AA0975_31.08.2021.xlsx'": 'F1',
 "'NL01AA0976_03.09.2021.xlsx'": 'F1',
 "'NL01AA0977_02.09.2021.xlsx'": 'F1',
 "'NL01AA0977_24.08.2021.xlsx'": 'F1',
 "'NL01AA0979_23.08.2021.xlsx'": 'F1',
 "'NL01AA0980_31.08.2021.xlsx'": 'F1',
 "'NL01AA3072_03.09.2021.xlsx'": 'F1',
 "'NL01AA3073_21.08.2021.xlsx'": 'F1',
 "'NL01AA9622_07.08.2021.xlsx'": 'F1',
 "'NL01AA9623_03.08.2021.xlsx'": 'F1',
 "'NL01AA9627_13.10.2021.xlsx'": 'F1',
 "'NL01AA9627_18.08.2021.xlsx'": 'F1',
 "'NL01AA9629_07.09.2021.xlsx'": 'F1',
 "'NL01Q-9682_08.08.2021.xlsx'": 'F1',
 "'NL01Q3547_06.08.2021.xlsx'": 'F1',
 "'NL01Q3548_08.08.2021.xlsx'": 'F1',
 "'NL01Q3548_27.09.2021.xlsx'": 'F1',
 "'NL01Q3550_30.09.2021.xlsx'": 'F1',
 "'NL01Q3735_03.08.2021.xlsx'": 'F1',
 "'NL01Q3735_17.09.2021.xlsx'": 'F1',
 "'NL01Q9684_15.09.2021.xlsx'": 'F1',
 "'NL01Q9685_04.09.2021.xlsx'": 'F1',
 "'NL01Q9685_24.08.2021.xlsx'": 'F1',
 "'NL01Q9687_12.08.2021.xlsx'": 'F1',
 "'HR38X7641_29.09.2021.xlsx'": 'F1',
 "'HR47B5739_24.09.2021.xlsx'": 'F1',
 "'HR47B5848_16.09.2021.xlsx'": 'F1',
 "'HR47B5848_29.09.2021.xlsx'": 'F1',
 "'HR47B5857_23.09.2021.xlsx'": 'F1',
 "'HR47B5858_28.09.2021.xlsx'": 'F1',
 "'HR47B5862_05.10.2021.xlsx'": 'F1',
 "'HR47B5862_20.10.2021.xlsx'": 'F1',
 "'HR47B5919_15.09.2021.xlsx'": 'F1',
 "'HR47B8204_04.10.2021.xlsx'": 'F1',
 "'HR47B8205_08.10.2021.xlsx'": 'F1',
 "'HR47B8205_18.09.2021.xlsx'": 'F1',
 "'HR47B8206_18.10.2021.xlsx'": 'F1',
 "'HR47B8207_04.10.2021.xlsx'": 'F1',
 "'HR47B8207_15.09.2021.xlsx'": 'F1',
 "'HR47B8210_12.10.2021.xlsx'": 'F1',
 "'HR47B8210_28.09.2021.xlsx'": 'F1',
 "'HR47C2315_05.10.2021.xlsx'": 'F1',
 "'HR47C2457_14.10.2021.xlsx'": 'F1',
 "'HR47C2466_27.09.2021.xlsx'": 'F1',
 "'HR47C2516_04.10.2021.xlsx'": 'F1',
 "'HR47C9485_02.10.2021.xlsx'": 'F1',
 "'HR47D0169_12.10.2021.xlsx'": 'F1',
 "'HR47D1108_08.10.2021.xlsx'": 'F1',
 "'HR47D3335_17.10.2021.xlsx'": 'F1',
 "'HR47D4329_16.09.2021.xlsx'": 'F1',
 "'HR47D4506_30.09.2021.xlsx'": 'F1',
 "'HR47D5328_15.10.2021.xlsx'": 'F1',
 "'HR47D5806_23.09.2021.xlsx'": 'F1',
 "'HR47D7273_16.10.2021.xlsx'": 'F1',
 "'HR47D9032_28.09.2021.xlsx'": 'F1',
 "'HR47D9499_04.10.2021.xlsx'": 'F1',
 "'NL01N4838_19.09.2021.xlsx'": 'F1',
 "'NL01N4840_30.09.2021.xlsx'": 'F1',
 "'NL01N4841_06.10.2021.xlsx'": 'F1',
 "'NL01N5450_30.09.2021.xlsx'": 'F1',
 "'NL01N5453_23.09.2021.xlsx'": 'F1',
 "'NL01N5459_30.09.2021.xlsx'": 'F1',
 "'NL01N7422_23.09.2021.xlsx'": 'F1',
 "'NL01N7423_02.10.2021.xlsx'": 'F1',
 "'GJ06AZ6068_07.09.2021.xls'": 'F1',
 "'GJ06AZ6243_02.09.2021.xls'": 'F1',
 "'GJ06AZ6260_13.09.2021.xls'": 'F1',
 "'GJ12BX8238_06.10.2021.xls'": 'F1',
 "'GJ12BX8569_15.09.2021.xls'": 'F1',
 "'GJ12BX8657_21.09.2021.xls'": 'F1',
 "'GJ12BY0447_09.09.2021.xls'": 'F1',
 "'GJ12BY0482_21.09.2021.xls'": 'F1',
 "'HR55AG1126_17.10.2021.xlsx'": 'F1',
 "'HR55P6866_15.10.2021.xlsx'": 'F1',
 "'HR55P9987_30.09.2021.xlsx'": 'F1',
 "'HR55U7776_04.10.2021.xlsx'": 'F1',
 "'NL01AC0125_18.09.2021.xlsx'": 'F1',
 "'NL01N1253_16.10.2021.xlsx'": 'F1',
 "'NL01N1714_23.09.2021.xlsx'": 'F1',
 "'NL01AA1635_14.09.2021.xlsx'": 'F1',
 "'NL01AB5298_13.08.2021.xlsx'": 'F1',
 "'NL01AB5300_12.08.2021.xlsx'": 'F1',
 "'NL01AC3023_05.08.2021.xlsx'": 'F1',
 "'NL01AD0008_12.08.2021.xlsx'": 'F1',
 "'NL01N6544_03.08.2021.xlsx'": 'F1',
 "'NL01N6544_07.08.2021.xlsx'": 'F1',
 "'NL01N7489_23.08.2021.xlsx'": 'F1',
 "'PB65AD8137_11.08.2021.xlsx'": 'F1',
 "'PB65AD8139_26.08.2021.xlsx'": 'F1',
 "'UP82T4576_24.08.2021.xlsx'": 'F1',
 "'UP82T4684_26.08.2021.xlsx'": 'F1',
 "'UP82T4685_19.08.2021.xlsx'": 'F1',
 "'UP82T4739_03.08.2021.xlsx'": 'F1',
 "'UP82T4740_11.08.2021.xlsx'": 'F1',
 "'UP82T4740_31.08.2021.xlsx'": 'F1',
 "'UP82T4741_01.08.2021.xlsx'": 'F1',
 "'UP82T4744_09.08.2021.xlsx'": 'F1',
 "'UP82T5508_04.08.2021.xlsx'": 'F1',
 "'UP82T5509_17.08.2021.xlsx'": 'F1',
 "'UP82T5513_17.08.2021.xlsx'": 'F1',
 "'UP82T5513_19.08.2021.xlsx'": 'F1',
 "'UP82T5514_14.09.2021.xlsx'": 'F1',
 "'UP82T6226_28.08.2021.xlsx'": 'F1',
 "'UP82T6227_04.09.2021.xlsx'": 'F1',
 "'UP82T6227_23.08.2021.xlsx'": 'F1',
 "'UP82T6229_10.08.2021.xlsx'": 'F1',
 "'HR55AD4862_08.09.2021.xls'": 'F1',
 "'HR55AD4960_08.09.2021.xls'": 'F1',
 "'HR55AD6041_14.09.2021.xls'": 'F1',
 "'HR55AD6674_11.09.2021.xls'": 'F1',
 "'HR55AE0996_01.09.2021.xls'": 'F1',
 "'HR55AE5398_03.09.2021.xls'": 'F1',
 "'HR55AE6377_08.09.2021.xls'": 'F1',
 "'HR55AE9866_11.09.2021.xls'": 'F1',
 "'HR55AE9932_11.09.2021.xls'": 'F1',
 "'HR55AE9932_17.09.2021.xls'": 'F1',
 "'HR55AH2334_09.09.2021.xls'": 'F1',
 "'HR55N4735_04.09.2021.xls'": 'F1',
 "'HR55N4735_08.09.2021.xls'": 'F1',
 "'HR55P2125_13.09.2021.xls'": 'F1',
 "'HR55Q3611_17.09.2021.xls'": 'F1',
 "'HR55Q3620_16.09.2021.xls'": 'F1',
 "'HR55Q4059_02.09.2021.xls'": 'F1',
 "'HR55Q4060_02.09.2021.xls'": 'F1',
 "'HR55Q4063_24.09.2021.xls'": 'F1',
 "'HR55Q4064_16.09.2021.xls'": 'F1',
 "'HR55Q4068_19.09.2021.xls'": 'F1',
 "'HR55Q6064_04.09.2021.xls'": 'F1',
 "'HR55Q7840_16.09.2021.xls'": 'F1',
 "'HR55Q8507_26.09.2021.xls'": 'F1',
 "'HR55R3436_09.09.2021.xls'": 'F1',
 "'HR55R3509_01.09.2021.xls'": 'F1',
 "'HR55R3509_15.09.2021.xls'": 'F1',
 "'HR55R3509_30.09.2021.xls'": 'F1',
 "'HR55R5799_04.09.2021.xls'": 'F1',
 "'HR55R5801_04.09.2021.xls'": 'F1',
 "'HR55R5801_16.09.2021.xls'": 'F1',
 "'HR55R7135_02.09.2021.xls'": 'F1',
 "'HR55R7135_11.09.2021.xls'": 'F1',
 "'NL01AA8908_01.09.2021.xls'": 'F1',
 "'NL01AB5274_03.09.2021.xls'": 'F1',
 "'NL01AE8917_25.09.2021.xls'": 'F1',
 "'NL01AF0166_22.09.2021.xls'": 'F1',
 "'NL01Q0461_04.09.2021.xls'": 'F1',
 "'NL01Q0462_17.09.2021.xls'": 'F1',
 "'NL01Q0462_29.09.2021.xls'": 'F1',
 "'NL01Q0463_01.09.2021.xls'": 'F1',
 "'NL01Q1243_13.09.2021.xls'": 'F1',
 "'NL01Q7638_25.09.2021.xls'": 'F1',
 "'NL01Q7639_08.09.2021.xls'": 'F1',
 "'UP32KN7118_04.09.2021.xls'": 'F1',
 "'UP32KN7118_28.09.2021.xls'": 'F1',
 "'HR55AF1302_01.09.2021.xlsx'": 'F1',
 "'HR55AF8436_17.09.2021.xlsx'": 'F1',
 "'HR55AG0695_22.09.2021.xlsx'": 'F1',
 "'HR55AG1650_30.09.2021.xlsx'": 'F1',
 "'HR55AG2034_02.09.2021.xlsx'": 'F1',
 "'HR55AG2403_12.10.2021.xlsx'": 'F1',
 "'HR55AG2612_19.10.2021.xlsx'": 'F1',
 "'HR55AG2968_08.10.2021.xlsx'": 'F1',
 "'HR55AG2968_10.09.2021.xlsx'": 'F1',
 "'HR55AG4310_01.09.2021.xlsx'": 'F1',
 "'HR55AG4871_18.09.2021.xlsx'": 'F1',
 "'HR55AG5550_02.09.2021.xlsx'": 'F1',
 "'HR55AG5703_28.09.2021.xlsx'": 'F1',
 "'HR55AG6163_16.09.2021.xlsx'": 'F1',
 "'HR55AG7820_28.09.2021.xlsx'": 'F1',
 "'HR55AG8652_02.09.2021.xlsx'": 'F1',
 "'HR55AH2802_07.10.2021.xlsx'": 'F1',
 "'HR55AH9749_01.09.2021.xlsx'": 'F1',
 "'HR55AH9749_27.09.2021.xlsx'": 'F1',
 "'HR55AJ9963_24.09.2021.xlsx'": 'F1',
 "'HR55P6863_04.09.2021.xlsx'": 'F1',
 "'HR55P6870_08.10.2021.xlsx'": 'F1',
 "'HR55Q0459_15.09.2021.xlsx'": 'F1',
 "'HR55Q0463_04.09.2021.xlsx'": 'F1',
 "'HR55R0765_24.09.2021.xlsx'": 'F1',
 "'HR55R0769_25.09.2021.xlsx'": 'F1',
 "'NL01AA0061_07.09.2021.xlsx'": 'F1',
 "'NL01AA0072_03.09.2021.xlsx'": 'F1',
 "'NL01AA0462_02.09.2021.xlsx'": 'F1',
 "'NL01AA0473_07.09.2021.xlsx'": 'F1',
 "'NL01AA0508_16.10.2021.xlsx'": 'F1',
 "'NL01AA3778 _02.09.2021.xlsx'": 'F1',
 "'NL01AA6208_04.10.2021.xlsx'": 'F1',
 "'NL01AA6217_05.10.2021.xlsx'": 'F1',
 "'NL01AA6836_01.09.2021.xlsx'": 'F1',
 "'NL01AC0123_20.10.2021.xlsx'": 'F1',
 "'NL01AC1238_26.09.2021.xlsx'": 'F1',
 "'NL01AC1411_06.09.2021.xlsx'": 'F1',
 "'NL01AC1415_17.09.2021.xlsx'": 'F1',
 "'NL01AC1420_02.09.2021.xlsx'": 'F1',
 "'NL01AD7750_08.09.2021.xlsx'": 'F1',
 "'NL01K8833_14.09.2021.xlsx'": 'F1',
 "'NL01N1267_08.09.2021.xlsx'": 'F1',
 "'NL01N1286_28.09.2021.xlsx'": 'F1',
 "'NL01Q1455_22.09.2021.xlsx'": 'F1',
 "'NL01Q4059_01.09.2021.xlsx'": 'F1',
 "'NL01Q7122_14.09.2021.xlsx'": 'F1',
 "'NL01Q7126_23.09.2021.xlsx'": 'F1',
 "'NL01Q9566_02.09.2021.xlsx'": 'F1',
 "'PB11AU7644_01.09.2021.xlsx'": 'F1',
 "'HR55P9886_02.09.2021.xls'": 'F1',
 "'HR55Q9463_04.09.2021.xls'": 'F1',
 "'HR55R6352_30.09.2021.xls'": 'F1',
 "'HR55R8025_14.09.2021.xls'": 'F1',
 "'NL01AA6010_23.09.2021.xls'": 'F1',
 "'NL01N2642_25.09.2021.xls'": 'F1',
 "'NL01N6132_18.09.2021.xls'": 'F1',
 "'NL01N6139_18.09.2021.xls'": 'F1',
 "'NL01N8578_21.09.2021.xls'": 'F1',
 "'NL01N8784_06.09.2021.xls'": 'F1',
 "'NL01Q4127_17.09.2021.xls'": 'F1',
 "'NL01Q4133_05.09.2021.xls'": 'F1',
 "'NL01Q4297_30.09.2021.xls'": 'F1',
 "'NL01Q4299_30.09.2021.xls'": 'F1',
 "'PB11BR1776_17.09.2021.xls'": 'F1',
 "'PB65AD8136_02.09.2021.xls'": 'F1',
 "'PB65AD8149_14.09.2021.xls'": 'F1',
 "'PB65AD8157_06.09.2021.xls'": 'F1',
 "'NL01N6312_09.09.21.xlsx'": 'F1',
 "'NL01N9764_08.09.21.xlsx'": 'F1',
 "'NL01Q4110_11.09.21.xlsx'": 'F1',
 "'NL01Q4111_30.09.21.xlsx'": 'F1',
 "'NL01Q4993_09.09.21.xlsx'": 'F1',
 "'NL01Q4993_18.09.21.xlsx'": 'F1',
 "'NL01Q7950_03.09.21.xlsx'": 'F1',
 "'NL01Q7953_25.09.21.xlsx'": 'F1',
 "'NL01Q9159_04.09.21.xlsx'": 'F1',
 "'NL01AB3573_03.09.2021.xls'": 'F1',
 "'NL01AE2295_09.09.2021.xls'": 'F1',
 "'NL01AE2295_18.09.2021.xls'": 'F1',
 "'NL01AE2340_02.09.2021.xls'": 'F1',
 "'NL01AE2592_02.09.2021.xls'": 'F1',
 "'NL01AE4356_14.08.2021.xls'": 'F1',
 "'NL01AE4374_02.09.2021.xls'": 'F1',
 "'NL01AE4410_19.08.2021.xls'": 'F1',
 "'NL01AE4419_21.08.2021.xls'": 'F1',
 "'NL01AE4599_02.09.2021.xls'": 'F1',
 "'NL01AE4601_28.08.2021.xls'": 'F1',
 "'NL01AE4601_28.09.2021.xls'": 'F1',
 "'NL01AE4617_17.09.2021.xls'": 'F1',
 "'NL01AE4618_19.08.2021.xls'": 'F1',
 "'NL01AE4618_24.09.2021.xls'": 'F1',
 "'NL01AE4628_12.08.2021.xls'": 'F1',
 "'NL01AE4634_11.08.2021.xls'": 'F1',
 "'NL01AE4634_14.08.2021.xls'": 'F1',
 "'NL01AE4641_03.08.2021.xls'": 'F1',
 "'NL01AE4642_12.08.2021.xls'": 'F1',
 "'NL01AE4646_03.09.2021.xls'": 'F1',
 "'NL01AE4655_19.08.2021.xls'": 'F2',
 "'NL01AE4670_14.08.2021.xls'": 'F2',
 "'NL01AE4690_21.08.2021.xls'": 'F2',
 "'NL01AE4691_21.08.2021.xls'": 'F2',
 "'NL01AE4691_27.09.2021.xls'": 'F2',
 "'NL01AE4694_26.08.2021.xls'": 'F2',
 "'NL01AE4698_03.09.2021.xls'": 'F2',
 "'NL01AE4698_09.09.2021.xls'": 'F2',
 "'NL01AE4743_07.08.2021.xls'": 'F2',
 "'NL01L6300_19.08.2021.xls'": 'F2',
 "'NL01L6444_17.08.2021.xls'": 'F2',
 "'NL02N5292_26.08.2021.xls'": 'F2',
 "'NL02N5490_27.08.2021.xls'": 'F2',
 "'NL02N5661_03.08.2021.xls'": 'F2',
 "'NL02N5661_18.08.2021.xls'": 'F2',
 "'NL02Q3501_26.08.2021.xls'": 'F2',
 "'NL02Q3537_21.09.2021.xls'": 'F2',
 "'NL02Q3564_20.08.2021.xls'": 'F2',
 "'NL02Q3654_18.09.2021.xls'": 'F2',
 "'NL02Q3672_20.08.2021.xls'": 'F2',
 "'NL02Q3681_11.08.2021.xls'": 'F2',
 "'NL02Q3708_12.08.2021.xls'": 'F2',
 "'NL02Q3726_29.09.2021.xls'": 'F2',
 "'NL02Q3753_16.09.2021.xls'": 'F2',
 "'NL02Q3753_21.09.2021.xls'": 'F2',
 "'NL02Q3924_14.08.2021.xls'": 'F2',
 "'NL02Q6336_03.08.2021.xls'": 'F2',
 "'NL02Q6336_29.09.2021.xls'": 'F2',
 "'HR69C7777_30.09.2021.xlsx'": 'F2',
 "'NL01AA3956_02.09.2021.xlsx'": 'F2',
 "'NL01AA4737_04.09.2021.xlsx'": 'F2',
 "'NL01AA4737_25.09.2021.xlsx'": 'F2',
 "'NL01AA4740_04.09.2021.xlsx'": 'F2',
 "'NL01AA9456_11.09.2021.xlsx'": 'F2',
 "'NL01AA9458_24.09.2021.xlsx'": 'F2',
 "'NL01AA9778_24.09.2021.xlsx'": 'F2',
 "'NL01AB0179_18.09.2021.xlsx'": 'F2',
 "'NL01AB0561_21.09.2021.xlsx'": 'F2',
 "'NL01AB8774_09.09.2021.xlsx'": 'F2',
 "'NL01AB9407_29.09.2021.xlsx'": 'F2',
 "'NL01AB9977_16.09.2021.xlsx'": 'F2',
 "'NL01AB9978_02.09.2021.xlsx'": 'F2',
 "'NL01AB9980_12.09.2021.xlsx'": 'F2',
 "'NL01AB9980_16.09.2021.xlsx'": 'F2',
 "'NL01AE4203_02.09.2021.xlsx'": 'F2',
 "'NL01AE9795_08.09.2021.xlsx'": 'F2',
 "'NL01AE9800_01.09.2021.xlsx'": 'F2',
 "'NL01AE9803_22.09.2021.xlsx'": 'F2',
 "'NL01L5417_28.09.2021.xlsx'": 'F2',
 "'NL01Q5690_24.09.2021.xlsx'": 'F2',
 "'NL01Q5693_24.09.2021.xlsx'": 'F2',
 "'NL01AA4452_01.09.2021.xls'": 'F2',
 "'NL01AA4452_24.08.2021.xls'": 'F2',
 "'NL01AA4455_05.10.2021.xls'": 'F2',
 "'NL01AA4461_19.10.2021.xls'": 'F2',
 "'NL01AA4462_22.08.2021.xls'": 'F2',
 "'NL01AA4465_27.08.2021.xls'": 'F2',
 "'NL01AA4468_23.09.2021.xls'": 'F2',
 "'NL01AA5761_04.09.2021.xls'": 'F2',
 "'NL01AA5761_04.10.2021.xls'": 'F2',
 "'NL01AA5761_21.09.2021.xls'": 'F2',
 "'NL01AA5761_25.08.2021.xls'": 'F2',
 "'NL01AA5764_26.08.2021.xls'": 'F2',
 "'NL01AA5766_30.09.2021.xls'": 'F2',
 "'NL01AA5851_25.08.2021.xls'": 'F2',
 "'NL01AA5862_16.10.2021.xls'": 'F2',
 "'NL01AA6296_08.09.2021.xls'": 'F2',
 "'NL01AB0411_16.10.2021.xls'": 'F2',
 "'NL01AB0677_30.09.2021.xls'": 'F2',
 "'NL01AB0681_04.10.2021.xls'": 'F2',
 "'NL01AB0684_04.10.2021.xls'": 'F2',
 "'NL01AB0684_25.08.2021.xls'": 'F2',
 "'NL01N8954_22.08.2021.xls'": 'F2',
 "'NL01N8966_29.09.2021.xls'": 'F2',
 "'NL01Q1055_17.10.2021.xls'": 'F2',
 "'NL01Q1057_22.08.2021.xls'": 'F2',
 "'NL01Q1069_04.10.2021.xls'": 'F2',
 "'NL01Q1069_24.08.2021.xls'": 'F2',
 "'NL01Q1070_19.10.2021.xls'": 'F2',
 "'NL01Q1261_30.09.2021.xls'": 'F2',
 "'NL01Q1270_12.10.2021.xls'": 'F2',
 "'NL01Q1271_24.09.2021.xls'": 'F2',
 "'NL01Q1282_16.10.2021.xls'": 'F2',
 "'NL01Q1282_30.08.2021.xls'": 'F2',
 "'NL01Q1285_18.09.2021.xls'": 'F2',
 "'NL01Q1408_18.09.2021.xls'": 'F2',
 "'NL01Q2034_29.09.2021.xls'": 'F2',
 "'NL01Q2040_25.08.2021.xls'": 'F2',
 "'NL01Q2041_20.10.2021.xls'": 'F2',
 "'NL01Q2045_28.08.2021.xls'": 'F2',
 "'NL01Q8960_27.08.2021.xls'": 'F2',
 "'GJ06AX5749_09.09.2021.xlsx'": 'F2',
 "'GJ06AX5749_13.09.2021.xlsx'": 'F2',
 "'HR55T8262_04.10.2021.xls'": 'F2',
 "'UK04CA9200_23.09.2021.xlsx'": 'F2',
 "'UK04CA9212_20.09.2021.xlsx'": 'F2',
 "'UK04CA9290_14.09.2021.xlsx'": 'F2',
 "'UK04CA9369_03.09.2021.xlsx'": 'F2',
 "'UK04CA9370_08.09.2021.xlsx'": 'F2',
 "'UK04CA9372_21.09.2021.xlsx'": 'F2',
 "'UK04CA9389_23.09.2021.xlsx'": 'F2',
 "'UK04CA9399_03.09.2021.xlsx'": 'F2',
 "'UK04CA9429_04.09.2021.xlsx'": 'F2',
 "'UK04CA9430_05.09.2021.xlsx'": 'F2',
 "'UK04CA9443_01.09.2021.xlsx'": 'F2',
 "'UK04CA9456_03.09.2021.xlsx'": 'F2',
 "'UK04CA9598_21.09.2021.xlsx'": 'F2',
 "'UK04CA9712_11.09.2021.xlsx'": 'F2',
 "'UK04CA9716_04.10.2021.xlsx'": 'F2',
 "'UK04CA9734_08.09.2021.xlsx'": 'F2',
 "'UK04CA9734_15.09.2021.xlsx'": 'F2',
 "'UK04CA9737_08.09.2021.xlsx'": 'F2',

In [520]:
split

{"'GJ12BV2880_16.10.2021.xls'": 'F1',
 "'GJ12BV6093_02.09.2021.xls'": 'F1',
 "'GJ12BV6093_02.10.2021.xls'": 'F1',
 "'GJ12BV7704_04.10.2021.xls'": 'F1',
 "'GJ12BV9360_01.10.2021.xls'": 'F1',
 "'GJ12BV9630_17.10.2021.xls'": 'F1',
 "'GJ12BV9630_24.09.2021.xls'": 'F1',
 "'HR38Y0900_08.09.2021.xls'": 'F1',
 "'HR38Y0900_13.10.2021.xls'": 'F1',
 "'HR38Y3699_08.09.2021.xls'": 'F1',
 "'HR38Y3699_29.09.2021.xls'": 'F1',
 "'HR38Y9090_04.10.2021.xls'": 'F1',
 "'HR38Y9900_15.09.2021.xls'": 'F1',
 "'HR38Y9909_03.09.2021.xls'": 'F1',
 "'HR55U0990_16.09.2021.xls'": 'F1',
 "'HR55U4599_08.09.2021.xls'": 'F1',
 "'HR55U9009_02.09.2021.xls'": 'F1',
 "'HR69B0063_14.09.2021.xls'": 'F1',
 "'HR69B0333_06.10.2021.xls'": 'F1',
 "'HR69B5571_04.09.2021.xls'": 'F1',
 "'HR69B5643_02.09.2021.xls'": 'F1',
 "'HR69B6777_15.09.2021.xls'": 'F1',
 "'HR69C0144_04.09.2021.xls'": 'F1',
 "'HR69C0900_05.10.2021.xls'": 'F1',
 "'HR69C0990_01.09.2021.xls'": 'F1',
 "'HR69C0990_29.10.2021.xls'": 'F1',
 "'HR69C0999_21.10.2021.xls'": 'F1',
 "'HR69C1134_02.09.2021.xls'": 'F1',
 "'HR69C1134_04.09.2021.xls'": 'F1',
 "'HR69C1233_29.09.2021.xls'": 'F1',
 "'HR69C3006_29.09.2021.xls'": 'F1',
 "'HR69C4599_06.10.2021.xls'": 'F1',
 "'HR69C9009_04.09.2021.xls'": 'F1',
 "'HR69C9099_14.09.2021.xls'": 'F1',
 "'HR63C0484_28.09.2021.xls'": 'F1',
 "'HR63C1907_14.09.2021.xls'": 'F1',
 "'HR63C2126_09.09.2021.xls'": 'F1',
 "'HR63C8486_21.09.2021.xls'": 'F1',
 "'NL01AA1194_27.09.2021.xls'": 'F1',
 "'NL01AB0182_23.09.2021.xls'": 'F1',
 "'NL01AC5558_06.09.2021.xls'": 'F1',
 "'NL01AD1962_23.09.2021.xls'": 'F1',
 "'NL01AE0113_23.09.2021.xls'": 'F1',
 "'NL01AE0115_29.09.2021.xls'": 'F1',
 "'NL01AE0119_07.09.2021.xls'": 'F1',
 "'NL01Q4011_30.09.2021.xls'": 'F1',
 "'NL01Q4161_19.09.2021.xls'": 'F1',
 "'HR38W0101_06.10.2021.xlsx'": 'F1',
 "'HR38W0101_30.09.2021.xlsx'": 'F1',
 "'HR38W0818_03.09.2021.xlsx'": 'F1',
 "'HR38W0818_07.09.2021.xlsx'": 'F1',
 "'HR38W0818_28.09.2021.xlsx'": 'F1',
 "'HR38W0906_25.08.2021.xlsx'": 'F1',
 "'HR38W1140_16.10.2021.xlsx'": 'F1',
 "'HR38W1702_05.09.2021.xlsx'": 'F1',
 "'HR38W1702_16.10.2021.xlsx'": 'F1',
 "'HR38W1702_21.08.2021.xlsx'": 'F1',
 "'HR38W1702_26.08.2021.xlsx'": 'F1',
 "'HR38W1771_21.08.2021.xlsx'": 'F1',
 "'HR38W1771_29.06.2021.xlsx'": 'F1',
 "'HR38W2080_21.08.2021.xlsx'": 'F1',
 "'HR38W2330_12.10.2021.xlsx'": 'F1',
 "'HR38W2501_06.10.2021.xlsx'": 'F1',
 "'HR38W2501_24.09.2021.xlsx'": 'F1',
 "'HR38W3252_04.09.2021.xlsx'": 'F1',
 "'HR38W3252_15.10.2021.xlsx'": 'F1',
 "'HR38W3252_25.08.2021.xlsx'": 'F1',
 "'HR38W3259_01.09.2021.xlsx'": 'F1',
 "'HR38W3259_19.10.2021.xlsx'": 'F1',
 "'HR38W3391_08.10.2021.xlsx'": 'F1',
 "'HR38W3946_23.08.2021.xlsx'": 'F1',
 "'HR38W4158_27.08.2021.xlsx'": 'F1',
 "'HR38W4182_09.09.2021.xlsx'": 'F1',
 "'HR38W4182_27.09.2021.xlsx'": 'F1',
 "'HR38W4395_20.08.2021.xlsx'": 'F1',
 "'HR38W4395_30.08.2021.xlsx'": 'F1',
 "'HR38W4476_07.09.2021.xlsx'": 'F1',
 "'HR38W4476_22.09.2021.xlsx'": 'F1',
 "'HR38W4479_30.08.2021.xlsx'": 'F1',
 "'HR38W4898_20.10.2021.xlsx'": 'F1',
 "'HR38W4900_18.10.2021.xlsx'": 'F1',
 "'HR38W5007_16.10.2021.xlsx'": 'F1',
 "'HR38W5513_05.10.2021.xlsx'": 'F1',
 "'HR38W5513_24.09.2021.xlsx'": 'F1',
 "'HR38W6125_03.09.2021.xlsx'": 'F1',
 "'HR38W6125_15.09.2021.xlsx'": 'F1',
 "'HR38W6289_17.09.2021.xlsx'": 'F1',
 "'HR38W6292_02.09.2021.xlsx'": 'F1',
 "'HR38W6334_13.10.2021.xlsx'": 'F1',
 "'HR38W6438_01.09.2021.xlsx'": 'F1',
 "'HR38W7293_02.09.2021.xlsx'": 'F1',
 "'HR38W7315_15.10.2021.xlsx'": 'F1',
 "'HR38W7820_08.10.2021.xlsx'": 'F1',
 "'HR38W7820_16.10.2021.xlsx'": 'F1',
 "'HR38W8378_16.09.2021.xlsx'": 'F1',
 "'HR38W8378_28.08.2021.xlsx'": 'F1',
 "'HR38W8431_04.10.2021.xlsx'": 'F1',
 "'HR38W8431_22.08.2021.xlsx'": 'F1',
 "'HR38W8521_04.10.2021.xlsx'": 'F1',
 "'HR38W8977_07.09.2021.xlsx'": 'F1',
 "'HR38W9910_28.09.2021.xlsx'": 'F1',
 "'HR38Y0264_30.08.2021.xlsx'": 'F1',
 "'HR38Y7720_07.10.2021.xlsx'": 'F1',
 "'HR38Y8412_21.08.2021.xlsx'": 'F1',
 "'HR38Y9302_20.08.2021.xlsx'": 'F1',
 "'HR38Y9761_26.08.2021.xlsx'": 'F1',
 "'HR63C0978_04.09.2021.xlsx'": 'F1',
 "'HR63C0978_05.10.2021.xlsx'": 'F1',
 "'HR63C0978_20.09.2021.xlsx'": 'F1',
 "'HR63C1683_23.08.2021.xlsx'": 'F1',
 "'HR63C1683_31.08.2021.xlsx'": 'F1',
 "'HR63C1690_24.09.2021.xlsx'": 'F1',
 "'HR63C1768_15.09.2021.xlsx'": 'F1',
 "'HR63C1768_27.08.2021.xlsx'": 'F1',
 "'HR63C1768_30.09.2021.xlsx'": 'F1',
 "'HR63C2234_11.10.2021.xlsx'": 'F1',
 "'HR63C3257_15.09.2021.xlsx'": 'F1',
 "'HR63C3381_14.09.2021.xlsx'": 'F1',
 "'HR63C3381_27.08.2021.xlsx'": 'F1',
 "'HR63C3688_26.08.2021.xlsx'": 'F1',
 "'HR63C3817_25.08.2021.xlsx'": 'F1',
 "'HR63C3817_30.09.2021.xlsx'": 'F1',
 "'HR63C3828_01.09.2021.xlsx'": 'F1',
 "'HR63C3828_24.08.2021.xlsx'": 'F1',
 "'HR63C4207_04.09.2021.xlsx'": 'F1',
 "'HR63C4207_25.09.2021.xlsx'": 'F1',
 "'HR63C4226_04.09.2021.xlsx'": 'F1',
 "'HR63C4226_23.09.2021.xlsx'": 'F1',
 "'HR63C5602_14.09.2021.xlsx'": 'F1',
 "'HR63C5602_28.08.2021.xlsx'": 'F1',
 "'HR63C6085_21.08.2021.xlsx'": 'F1',
 "'HR63C6534_01.09.2021.xlsx'": 'F1',
 "'HR63C6534_05.10.2021.xlsx'": 'F1',
 "'HR63C6534_14.09.2021.xlsx'": 'F1',
 "'HR63C7352_09.09.2021.xlsx'": 'F1',
 "'HR63C7352_29.09.2021.xlsx'": 'F1',
 "'HR63C7497_06.09.2021.xlsx'": 'F1',
 "'HR63C7497_14.09.2021.xlsx'": 'F1',
 "'HR63C7550_15.10.2021.xlsx'": 'F1',
 "'HR63C7637_21.09.2021.xlsx'": 'F1',
 "'HR63C8051_24.08.2021.xlsx'": 'F1',
 "'HR63C8307_07.09.2021.xlsx'": 'F1',
 "'HR63C8307_25.08.2021.xlsx'": 'F1',
 "'HR63C8463_05.10.2021.xlsx'": 'F1',
 "'HR63C8463_21.08.2021.xlsx'": 'F1',
 "'HR63C8695_04.10.2021.xlsx'": 'F1',
 "'HR63C8695_18.09.2021.xlsx'": 'F1',
 "'HR63C8833_04.10.2021.xlsx'": 'F1',
 "'HR63C8833_15.09.2021.xlsx'": 'F1',
 "'HR63C8992_07.09.2021.xlsx'": 'F1',
 "'HR63C8992_14.09.2021.xlsx'": 'F1',
 "'HR63C9101_01.10.2021.xlsx'": 'F1',
 "'HR63C9101_14.09.2021.xlsx'": 'F1',
 "'HR63C9101_16.10.2021.xlsx'": 'F1',
 "'HR63C9101_30.08.2021.xlsx'": 'F1',
 "'HR63C9161_21.09.2021.xlsx'": 'F1',
 "'HR63C9192_03.09.2021.xlsx'": 'F1',
 "'HR63C9192_25.08.2021.xlsx'": 'F1',
 "'HR63C9429_04.09.2021.xlsx'": 'F1',
 "'HR63C9429_14.09.2021.xlsx'": 'F1',
 "'HR63C9429_22.09.2021.xlsx'": 'F1',
 "'KA01AH1692_25.09.2021.xlsx'": 'F1',
 "'KA01AH1693_16.09.2021.xlsx'": 'F1',
 "'NL010087_08.09.2021.xlsx'": 'F1',
 "'NL010320_16.09.2021.xlsx'": 'F1',
 "'NL01AA0975_31.08.2021.xlsx'": 'F1',
 "'NL01AA0976_03.09.2021.xlsx'": 'F1',
 "'NL01AA0977_02.09.2021.xlsx'": 'F1',
 "'NL01AA0977_24.08.2021.xlsx'": 'F1',
 "'NL01AA0979_23.08.2021.xlsx'": 'F1',
 "'NL01AA0980_31.08.2021.xlsx'": 'F1',
 "'NL01AA3072_03.09.2021.xlsx'": 'F1',
 "'NL01AA3073_21.08.2021.xlsx'": 'F1',
 "'NL01AA9622_07.08.2021.xlsx'": 'F1',
 "'NL01AA9623_03.08.2021.xlsx'": 'F1',
 "'NL01AA9627_13.10.2021.xlsx'": 'F1',
 "'NL01AA9627_18.08.2021.xlsx'": 'F1',
 "'NL01AA9629_07.09.2021.xlsx'": 'F1',
 "'NL01Q-9682_08.08.2021.xlsx'": 'F1',
 "'NL01Q3547_06.08.2021.xlsx'": 'F1',
 "'NL01Q3548_08.08.2021.xlsx'": 'F1',
 "'NL01Q3548_27.09.2021.xlsx'": 'F1',
 "'NL01Q3550_30.09.2021.xlsx'": 'F1',
 "'NL01Q3735_03.08.2021.xlsx'": 'F1',
 "'NL01Q3735_17.09.2021.xlsx'": 'F1',
 "'NL01Q9684_15.09.2021.xlsx'": 'F1',
 "'NL01Q9685_04.09.2021.xlsx'": 'F1',
 "'NL01Q9685_24.08.2021.xlsx'": 'F1',
 "'NL01Q9687_12.08.2021.xlsx'": 'F1',
 "'HR38X7641_29.09.2021.xlsx'": 'F1',
 "'HR47B5739_24.09.2021.xlsx'": 'F1',
 "'HR47B5848_16.09.2021.xlsx'": 'F1',
 "'HR47B5848_29.09.2021.xlsx'": 'F1',
 "'HR47B5857_23.09.2021.xlsx'": 'F1',
 "'HR47B5858_28.09.2021.xlsx'": 'F1',
 "'HR47B5862_05.10.2021.xlsx'": 'F1',
 "'HR47B5862_20.10.2021.xlsx'": 'F1',
 "'HR47B5919_15.09.2021.xlsx'": 'F1',
 "'HR47B8204_04.10.2021.xlsx'": 'F1',
 "'HR47B8205_08.10.2021.xlsx'": 'F1',
 "'HR47B8205_18.09.2021.xlsx'": 'F1',
 "'HR47B8206_18.10.2021.xlsx'": 'F1',
 "'HR47B8207_04.10.2021.xlsx'": 'F1',
 "'HR47B8207_15.09.2021.xlsx'": 'F1',
 "'HR47B8210_12.10.2021.xlsx'": 'F1',
 "'HR47B8210_28.09.2021.xlsx'": 'F1',
 "'HR47C2315_05.10.2021.xlsx'": 'F1',
 "'HR47C2457_14.10.2021.xlsx'": 'F1',
 "'HR47C2466_27.09.2021.xlsx'": 'F1',
 "'HR47C2516_04.10.2021.xlsx'": 'F1',
 "'HR47C9485_02.10.2021.xlsx'": 'F1',
 "'HR47D0169_12.10.2021.xlsx'": 'F1',
 "'HR47D1108_08.10.2021.xlsx'": 'F1',
 "'HR47D3335_17.10.2021.xlsx'": 'F1',
 "'HR47D4329_16.09.2021.xlsx'": 'F1',
 "'HR47D4506_30.09.2021.xlsx'": 'F1',
 "'HR47D5328_15.10.2021.xlsx'": 'F1',
 "'HR47D5806_23.09.2021.xlsx'": 'F1',
 "'HR47D7273_16.10.2021.xlsx'": 'F1',
 "'HR47D9032_28.09.2021.xlsx'": 'F1',
 "'HR47D9499_04.10.2021.xlsx'": 'F1',
 "'NL01N4838_19.09.2021.xlsx'": 'F1',
 "'NL01N4840_30.09.2021.xlsx'": 'F1',
 "'NL01N4841_06.10.2021.xlsx'": 'F1',
 "'NL01N5450_30.09.2021.xlsx'": 'F1',
 "'NL01N5453_23.09.2021.xlsx'": 'F1',
 "'NL01N5459_30.09.2021.xlsx'": 'F1',
 "'NL01N7422_23.09.2021.xlsx'": 'F1',
 "'NL01N7423_02.10.2021.xlsx'": 'F1',
 "'GJ06AZ6068_07.09.2021.xls'": 'F1',
 "'GJ06AZ6243_02.09.2021.xls'": 'F1',
 "'GJ06AZ6260_13.09.2021.xls'": 'F1',
 "'GJ12BX8238_06.10.2021.xls'": 'F1',
 "'GJ12BX8569_15.09.2021.xls'": 'F1',
 "'GJ12BX8657_21.09.2021.xls'": 'F1',
 "'GJ12BY0447_09.09.2021.xls'": 'F1',
 "'GJ12BY0482_21.09.2021.xls'": 'F1',
 "'HR55AG1126_17.10.2021.xlsx'": 'F1',
 "'HR55P6866_15.10.2021.xlsx'": 'F1',
 "'HR55P9987_30.09.2021.xlsx'": 'F1',
 "'HR55U7776_04.10.2021.xlsx'": 'F1',
 "'NL01AC0125_18.09.2021.xlsx'": 'F1',
 "'NL01N1253_16.10.2021.xlsx'": 'F1',
 "'NL01N1714_23.09.2021.xlsx'": 'F1',
 "'NL01AA1635_14.09.2021.xlsx'": 'F1',
 "'NL01AB5298_13.08.2021.xlsx'": 'F1',
 "'NL01AB5300_12.08.2021.xlsx'": 'F1',
 "'NL01AC3023_05.08.2021.xlsx'": 'F1',
 "'NL01AD0008_12.08.2021.xlsx'": 'F1',
 "'NL01N6544_03.08.2021.xlsx'": 'F1',
 "'NL01N6544_07.08.2021.xlsx'": 'F1',
 "'NL01N7489_23.08.2021.xlsx'": 'F1',
 "'PB65AD8137_11.08.2021.xlsx'": 'F1',
 "'PB65AD8139_26.08.2021.xlsx'": 'F1',
 "'UP82T4576_24.08.2021.xlsx'": 'F1',
 "'UP82T4684_26.08.2021.xlsx'": 'F1',
 "'UP82T4685_19.08.2021.xlsx'": 'F1',
 "'UP82T4739_03.08.2021.xlsx'": 'F1',
 "'UP82T4740_11.08.2021.xlsx'": 'F1',
 "'UP82T4740_31.08.2021.xlsx'": 'F1',
 "'UP82T4741_01.08.2021.xlsx'": 'F1',
 "'UP82T4744_09.08.2021.xlsx'": 'F1',
 "'UP82T5508_04.08.2021.xlsx'": 'F1',
 "'UP82T5509_17.08.2021.xlsx'": 'F1',
 "'UP82T5513_17.08.2021.xlsx'": 'F1',
 "'UP82T5513_19.08.2021.xlsx'": 'F1',
 "'UP82T5514_14.09.2021.xlsx'": 'F1',
 "'UP82T6226_28.08.2021.xlsx'": 'F1',
 "'UP82T6227_04.09.2021.xlsx'": 'F1',
 "'UP82T6227_23.08.2021.xlsx'": 'F1',
 "'UP82T6229_10.08.2021.xlsx'": 'F1',
 "'HR55AD4862_08.09.2021.xls'": 'F1',
 "'HR55AD4960_08.09.2021.xls'": 'F1',
 "'HR55AD6041_14.09.2021.xls'": 'F1',
 "'HR55AD6674_11.09.2021.xls'": 'F1',
 "'HR55AE0996_01.09.2021.xls'": 'F1',
 "'HR55AE5398_03.09.2021.xls'": 'F1',
 "'HR55AE6377_08.09.2021.xls'": 'F1',
 "'HR55AE9866_11.09.2021.xls'": 'F1',
 "'HR55AE9932_11.09.2021.xls'": 'F1',
 "'HR55AE9932_17.09.2021.xls'": 'F1',
 "'HR55AH2334_09.09.2021.xls'": 'F1',
 "'HR55N4735_04.09.2021.xls'": 'F1',
 "'HR55N4735_08.09.2021.xls'": 'F1',
 "'HR55P2125_13.09.2021.xls'": 'F1',
 "'HR55Q3611_17.09.2021.xls'": 'F1',
 "'HR55Q3620_16.09.2021.xls'": 'F1',
 "'HR55Q4059_02.09.2021.xls'": 'F1',
 "'HR55Q4060_02.09.2021.xls'": 'F1',
 "'HR55Q4063_24.09.2021.xls'": 'F1',
 "'HR55Q4064_16.09.2021.xls'": 'F1',
 "'HR55Q4068_19.09.2021.xls'": 'F1',
 "'HR55Q6064_04.09.2021.xls'": 'F1',
 "'HR55Q7840_16.09.2021.xls'": 'F1',
 "'HR55Q8507_26.09.2021.xls'": 'F1',
 "'HR55R3436_09.09.2021.xls'": 'F1',
 "'HR55R3509_01.09.2021.xls'": 'F1',
 "'HR55R3509_15.09.2021.xls'": 'F1',
 "'HR55R3509_30.09.2021.xls'": 'F1',
 "'HR55R5799_04.09.2021.xls'": 'F1',
 "'HR55R5801_04.09.2021.xls'": 'F1',
 "'HR55R5801_16.09.2021.xls'": 'F1',
 "'HR55R7135_02.09.2021.xls'": 'F1',
 "'HR55R7135_11.09.2021.xls'": 'F1',
 "'NL01AA8908_01.09.2021.xls'": 'F1',
 "'NL01AB5274_03.09.2021.xls'": 'F1',
 "'NL01AE8917_25.09.2021.xls'": 'F1',
 "'NL01AF0166_22.09.2021.xls'": 'F1',
 "'NL01Q0461_04.09.2021.xls'": 'F1',
 "'NL01Q0462_17.09.2021.xls'": 'F1',
 "'NL01Q0462_29.09.2021.xls'": 'F1',
 "'NL01Q0463_01.09.2021.xls'": 'F1',
 "'NL01Q1243_13.09.2021.xls'": 'F1',
 "'NL01Q7638_25.09.2021.xls'": 'F1',
 "'NL01Q7639_08.09.2021.xls'": 'F1',
 "'UP32KN7118_04.09.2021.xls'": 'F1',
 "'UP32KN7118_28.09.2021.xls'": 'F1',
 "'HR55AF1302_01.09.2021.xlsx'": 'F1',
 "'HR55AF8436_17.09.2021.xlsx'": 'F1',
 "'HR55AG0695_22.09.2021.xlsx'": 'F1',
 "'HR55AG1650_30.09.2021.xlsx'": 'F1',
 "'HR55AG2034_02.09.2021.xlsx'": 'F1',
 "'HR55AG2403_12.10.2021.xlsx'": 'F1',
 "'HR55AG2612_19.10.2021.xlsx'": 'F1',
 "'HR55AG2968_08.10.2021.xlsx'": 'F1',
 "'HR55AG2968_10.09.2021.xlsx'": 'F1',
 "'HR55AG4310_01.09.2021.xlsx'": 'F1',
 "'HR55AG4871_18.09.2021.xlsx'": 'F1',
 "'HR55AG5550_02.09.2021.xlsx'": 'F1',
 "'HR55AG5703_28.09.2021.xlsx'": 'F1',
 "'HR55AG6163_16.09.2021.xlsx'": 'F1',
 "'HR55AG7820_28.09.2021.xlsx'": 'F1',
 "'HR55AG8652_02.09.2021.xlsx'": 'F1',
 "'HR55AH2802_07.10.2021.xlsx'": 'F1',
 "'HR55AH9749_01.09.2021.xlsx'": 'F1',
 "'HR55AH9749_27.09.2021.xlsx'": 'F1',
 "'HR55AJ9963_24.09.2021.xlsx'": 'F1',
 "'HR55P6863_04.09.2021.xlsx'": 'F1',
 "'HR55P6870_08.10.2021.xlsx'": 'F1',
 "'HR55Q0459_15.09.2021.xlsx'": 'F1',
 "'HR55Q0463_04.09.2021.xlsx'": 'F1',
 "'HR55R0765_24.09.2021.xlsx'": 'F1',
 "'HR55R0769_25.09.2021.xlsx'": 'F1',
 "'NL01AA0061_07.09.2021.xlsx'": 'F1',
 "'NL01AA0072_03.09.2021.xlsx'": 'F1',
 "'NL01AA0462_02.09.2021.xlsx'": 'F1',
 "'NL01AA0473_07.09.2021.xlsx'": 'F1',
 "'NL01AA0508_16.10.2021.xlsx'": 'F1',
 "'NL01AA3778 _02.09.2021.xlsx'": 'F1',
 "'NL01AA6208_04.10.2021.xlsx'": 'F1',
 "'NL01AA6217_05.10.2021.xlsx'": 'F1',
 "'NL01AA6836_01.09.2021.xlsx'": 'F1',
 "'NL01AC0123_20.10.2021.xlsx'": 'F1',
 "'NL01AC1238_26.09.2021.xlsx'": 'F1',
 "'NL01AC1411_06.09.2021.xlsx'": 'F1',
 "'NL01AC1415_17.09.2021.xlsx'": 'F1',
 "'NL01AC1420_02.09.2021.xlsx'": 'F1',
 "'NL01AD7750_08.09.2021.xlsx'": 'F1',
 "'NL01K8833_14.09.2021.xlsx'": 'F1',
 "'NL01N1267_08.09.2021.xlsx'": 'F1',
 "'NL01N1286_28.09.2021.xlsx'": 'F1',
 "'NL01Q1455_22.09.2021.xlsx'": 'F1',
 "'NL01Q4059_01.09.2021.xlsx'": 'F1',
 "'NL01Q7122_14.09.2021.xlsx'": 'F1',
 "'NL01Q7126_23.09.2021.xlsx'": 'F1',
 "'NL01Q9566_02.09.2021.xlsx'": 'F1',
 "'PB11AU7644_01.09.2021.xlsx'": 'F1',
 "'HR55P9886_02.09.2021.xls'": 'F1',
 "'HR55Q9463_04.09.2021.xls'": 'F1',
 "'HR55R6352_30.09.2021.xls'": 'F1',
 "'HR55R8025_14.09.2021.xls'": 'F1',
 "'NL01AA6010_23.09.2021.xls'": 'F1',
 "'NL01N2642_25.09.2021.xls'": 'F1',
 "'NL01N6132_18.09.2021.xls'": 'F1',
 "'NL01N6139_18.09.2021.xls'": 'F1',
 "'NL01N8578_21.09.2021.xls'": 'F1',
 "'NL01N8784_06.09.2021.xls'": 'F1',
 "'NL01Q4127_17.09.2021.xls'": 'F1',
 "'NL01Q4133_05.09.2021.xls'": 'F1',
 "'NL01Q4297_30.09.2021.xls'": 'F1',
 "'NL01Q4299_30.09.2021.xls'": 'F1',
 "'PB11BR1776_17.09.2021.xls'": 'F1',
 "'PB65AD8136_02.09.2021.xls'": 'F1',
 "'PB65AD8149_14.09.2021.xls'": 'F1',
 "'PB65AD8157_06.09.2021.xls'": 'F1',
 "'NL01N6312_09.09.21.xlsx'": 'F1',
 "'NL01N9764_08.09.21.xlsx'": 'F1',
 "'NL01Q4110_11.09.21.xlsx'": 'F1',
 "'NL01Q4111_30.09.21.xlsx'": 'F1',
 "'NL01Q4993_09.09.21.xlsx'": 'F1',
 "'NL01Q4993_18.09.21.xlsx'": 'F1',
 "'NL01Q7950_03.09.21.xlsx'": 'F1',
 "'NL01Q7953_25.09.21.xlsx'": 'F1',
 "'NL01Q9159_04.09.21.xlsx'": 'F1',
 "'NL01AB3573_03.09.2021.xls'": 'F1',
 "'NL01AE2295_09.09.2021.xls'": 'F1',
 "'NL01AE2295_18.09.2021.xls'": 'F1',
 "'NL01AE2340_02.09.2021.xls'": 'F1',
 "'NL01AE2592_02.09.2021.xls'": 'F1',
 "'NL01AE4356_14.08.2021.xls'": 'F1',
 "'NL01AE4374_02.09.2021.xls'": 'F1',
 "'NL01AE4410_19.08.2021.xls'": 'F1',
 "'NL01AE4419_21.08.2021.xls'": 'F1',
 "'NL01AE4599_02.09.2021.xls'": 'F1',
 "'NL01AE4601_28.08.2021.xls'": 'F1',
 "'NL01AE4601_28.09.2021.xls'": 'F1',
 "'NL01AE4617_17.09.2021.xls'": 'F1',
 "'NL01AE4618_19.08.2021.xls'": 'F1',
 "'NL01AE4618_24.09.2021.xls'": 'F1',
 "'NL01AE4628_12.08.2021.xls'": 'F1',
 "'NL01AE4634_11.08.2021.xls'": 'F1',
 "'NL01AE4634_14.08.2021.xls'": 'F1',
 "'NL01AE4641_03.08.2021.xls'": 'F1',
 "'NL01AE4642_12.08.2021.xls'": 'F1',
 "'NL01AE4646_03.09.2021.xls'": 'F1',
 "'NL01AE4655_19.08.2021.xls'": 'F2',
 "'NL01AE4670_14.08.2021.xls'": 'F2',
 "'NL01AE4690_21.08.2021.xls'": 'F2',
 "'NL01AE4691_21.08.2021.xls'": 'F2',
 "'NL01AE4691_27.09.2021.xls'": 'F2',
 "'NL01AE4694_26.08.2021.xls'": 'F2',
 "'NL01AE4698_03.09.2021.xls'": 'F2',
 "'NL01AE4698_09.09.2021.xls'": 'F2',
 "'NL01AE4743_07.08.2021.xls'": 'F2',
 "'NL01L6300_19.08.2021.xls'": 'F2',
 "'NL01L6444_17.08.2021.xls'": 'F2',
 "'NL02N5292_26.08.2021.xls'": 'F2',
 "'NL02N5490_27.08.2021.xls'": 'F2',
 "'NL02N5661_03.08.2021.xls'": 'F2',
 "'NL02N5661_18.08.2021.xls'": 'F2',
 "'NL02Q3501_26.08.2021.xls'": 'F2',
 "'NL02Q3537_21.09.2021.xls'": 'F2',
 "'NL02Q3564_20.08.2021.xls'": 'F2',
 "'NL02Q3654_18.09.2021.xls'": 'F2',
 "'NL02Q3672_20.08.2021.xls'": 'F2',
 "'NL02Q3681_11.08.2021.xls'": 'F2',
 "'NL02Q3708_12.08.2021.xls'": 'F2',
 "'NL02Q3726_29.09.2021.xls'": 'F2',
 "'NL02Q3753_16.09.2021.xls'": 'F2',
 "'NL02Q3753_21.09.2021.xls'": 'F2',
 "'NL02Q3924_14.08.2021.xls'": 'F2',
 "'NL02Q6336_03.08.2021.xls'": 'F2',
 "'NL02Q6336_29.09.2021.xls'": 'F2',
 "'HR69C7777_30.09.2021.xlsx'": 'F2',
 "'NL01AA3956_02.09.2021.xlsx'": 'F2',
 "'NL01AA4737_04.09.2021.xlsx'": 'F2',
 "'NL01AA4737_25.09.2021.xlsx'": 'F2',
 "'NL01AA4740_04.09.2021.xlsx'": 'F2',
 "'NL01AA9456_11.09.2021.xlsx'": 'F2',
 "'NL01AA9458_24.09.2021.xlsx'": 'F2',
 "'NL01AA9778_24.09.2021.xlsx'": 'F2',
 "'NL01AB0179_18.09.2021.xlsx'": 'F2',
 "'NL01AB0561_21.09.2021.xlsx'": 'F2',
 "'NL01AB8774_09.09.2021.xlsx'": 'F2',
 "'NL01AB9407_29.09.2021.xlsx'": 'F2',
 "'NL01AB9977_16.09.2021.xlsx'": 'F2',
 "'NL01AB9978_02.09.2021.xlsx'": 'F2',
 "'NL01AB9980_12.09.2021.xlsx'": 'F2',
 "'NL01AB9980_16.09.2021.xlsx'": 'F2',
 "'NL01AE4203_02.09.2021.xlsx'": 'F2',
 "'NL01AE9795_08.09.2021.xlsx'": 'F2',
 "'NL01AE9800_01.09.2021.xlsx'": 'F2',
 "'NL01AE9803_22.09.2021.xlsx'": 'F2',
 "'NL01L5417_28.09.2021.xlsx'": 'F2',
 "'NL01Q5690_24.09.2021.xlsx'": 'F2',
 "'NL01Q5693_24.09.2021.xlsx'": 'F2',
 "'NL01AA4452_01.09.2021.xls'": 'F2',
 "'NL01AA4452_24.08.2021.xls'": 'F2',
 "'NL01AA4455_05.10.2021.xls'": 'F2',
 "'NL01AA4461_19.10.2021.xls'": 'F2',
 "'NL01AA4462_22.08.2021.xls'": 'F2',
 "'NL01AA4465_27.08.2021.xls'": 'F2',
 "'NL01AA4468_23.09.2021.xls'": 'F2',
 "'NL01AA5761_04.09.2021.xls'": 'F2',
 "'NL01AA5761_04.10.2021.xls'": 'F2',
 "'NL01AA5761_21.09.2021.xls'": 'F2',
 "'NL01AA5761_25.08.2021.xls'": 'F2',
 "'NL01AA5764_26.08.2021.xls'": 'F2',
 "'NL01AA5766_30.09.2021.xls'": 'F2',
 "'NL01AA5851_25.08.2021.xls'": 'F2',
 "'NL01AA5862_16.10.2021.xls'": 'F2',
 "'NL01AA6296_08.09.2021.xls'": 'F2',
 "'NL01AB0411_16.10.2021.xls'": 'F2',
 "'NL01AB0677_30.09.2021.xls'": 'F2',
 "'NL01AB0681_04.10.2021.xls'": 'F2',
 "'NL01AB0684_04.10.2021.xls'": 'F2',
 "'NL01AB0684_25.08.2021.xls'": 'F2',
 "'NL01N8954_22.08.2021.xls'": 'F2',
 "'NL01N8966_29.09.2021.xls'": 'F2',
 "'NL01Q1055_17.10.2021.xls'": 'F2',
 "'NL01Q1057_22.08.2021.xls'": 'F2',
 "'NL01Q1069_04.10.2021.xls'": 'F2',
 "'NL01Q1069_24.08.2021.xls'": 'F2',
 "'NL01Q1070_19.10.2021.xls'": 'F2',
 "'NL01Q1261_30.09.2021.xls'": 'F2',
 "'NL01Q1270_12.10.2021.xls'": 'F2',
 "'NL01Q1271_24.09.2021.xls'": 'F2',
 "'NL01Q1282_16.10.2021.xls'": 'F2',
 "'NL01Q1282_30.08.2021.xls'": 'F2',
 "'NL01Q1285_18.09.2021.xls'": 'F2',
 "'NL01Q1408_18.09.2021.xls'": 'F2',
 "'NL01Q2034_29.09.2021.xls'": 'F2',
 "'NL01Q2040_25.08.2021.xls'": 'F2',
 "'NL01Q2041_20.10.2021.xls'": 'F2',
 "'NL01Q2045_28.08.2021.xls'": 'F2',
 "'NL01Q8960_27.08.2021.xls'": 'F2',
 "'GJ06AX5749_09.09.2021.xlsx'": 'F2',
 "'GJ06AX5749_13.09.2021.xlsx'": 'F2',
 "'HR55T8262_04.10.2021.xls'": 'F2',
 "'UK04CA9200_23.09.2021.xlsx'": 'F2',
 "'UK04CA9212_20.09.2021.xlsx'": 'F2',
 "'UK04CA9290_14.09.2021.xlsx'": 'F2',
 "'UK04CA9369_03.09.2021.xlsx'": 'F2',
 "'UK04CA9370_08.09.2021.xlsx'": 'F2',
 "'UK04CA9372_21.09.2021.xlsx'": 'F2',
 "'UK04CA9389_23.09.2021.xlsx'": 'F2',
 "'UK04CA9399_03.09.2021.xlsx'": 'F2',
 "'UK04CA9429_04.09.2021.xlsx'": 'F2',
 "'UK04CA9430_05.09.2021.xlsx'": 'F2',
 "'UK04CA9443_01.09.2021.xlsx'": 'F2',
 "'UK04CA9456_03.09.2021.xlsx'": 'F2',
 "'UK04CA9598_21.09.2021.xlsx'": 'F2',
 "'UK04CA9712_11.09.2021.xlsx'": 'F2',
 "'UK04CA9716_04.10.2021.xlsx'": 'F2',
 "'UK04CA9734_08.09.2021.xlsx'": 'F2',
 "'UK04CA9734_15.09.2021.xlsx'": 'F2',
 "'UK04CA9737_08.09.2021.xlsx'": 'F2',

In [539]:
split_df = pd.DataFrame(split.items(), columns=['Trip_id_m', 'File_type'])

In [540]:
split_df

                         Trip_id_m File_type
0      'GJ12BV2880_16.10.2021.xls'        F1
1      'GJ12BV6093_02.09.2021.xls'        F1
2      'GJ12BV6093_02.10.2021.xls'        F1
3      'GJ12BV7704_04.10.2021.xls'        F1
4      'GJ12BV9360_01.10.2021.xls'        F1
...                            ...       ...
1547  'NL01AC2463_11.09.2021.xlsx'        F4
1548  'NL01AC2465_08.09.2021.xlsx'        F4
1549  'NL01AC2465_15.10.2021.xlsx'        F4
1550  'NL01AC2469_15.09.2021.xlsx'        F4
1551  'NL01AC2469_17.09.2021.xlsx'        F4

[1552 rows x 2 columns]

In [530]:
split_df.Trip_id_m = split_df.Trip_id_m.str.replace('[.xls]', '')
split_df.Trip_id_m = split_df.Trip_id_m.str.replace('[.xlsx]', '')


df_obj = split_df.select_dtypes(['object'])
split_df[df_obj.columns] = split_df.apply(lambda x: x.str.strip())
split_df['Trip_id_m'] = split_df['Trip_id_m'].replace(r'\n',' ', regex=True)
split_df['Trip_id_m'] = split_df['Trip_id_m'].replace(r'\n',' ', regex=True)

In [553]:
split_df.Trip_id_m = split_df.Trip_id_m.str.replace('[.xls]','')
split_df.Trip_id_m = split_df.Trip_id_m.str.replace('[.xlsx]','')

In [554]:
split_df.Trip_id_m

0       'GJ12BV2880_16102021'
1       'GJ12BV6093_02092021'
2       'GJ12BV6093_02102021'
3       'GJ12BV7704_04102021'
4       'GJ12BV9360_01102021'
                ...
1547    'NL01AC2463_11092021'
1548    'NL01AC2465_08092021'
1549    'NL01AC2465_15102021'
1550    'NL01AC2469_15092021'
1551    'NL01AC2469_17092021'
Name: Trip_id_m, Length: 1552, dtype: object

In [556]:
split_df.Trip_id_m = split_df.Trip_id_m.replace(""''"")

In [560]:
split_df['Trip_id_m'] = split_df['Trip_id_m'].str.rstrip('\'')

In [562]:
split_df['Trip_id_m'] = split_df['Trip_id_m'].str.lstrip('\'')

In [563]:
split_df

                Trip_id_m File_type
0     GJ12BV2880_16102021        F1
1     GJ12BV6093_02092021        F1
2     GJ12BV6093_02102021        F1
3     GJ12BV7704_04102021        F1
4     GJ12BV9360_01102021        F1
...                   ...       ...
1547  NL01AC2463_11092021        F4
1548  NL01AC2465_08092021        F4
1549  NL01AC2465_15102021        F4
1550  NL01AC2469_15092021        F4
1551  NL01AC2469_17092021        F4

[1552 rows x 2 columns]

In [564]:
split_df.Trip_id_m.value_counts()

NL01Q9685_04092021     2
NL01AA9623_03082021    2
NL01AA9627_13102021    2
NL01Q3547_06082021     2
NL01Q3548_27092021     2
                      ..
HR38W8431_22082021     1
NL01N0037_09082021     1
NL01N4067_17102021     1
NL01AD3889_05102021    1
NL01AE9367_19092021    1
Name: Trip_id_m, Length: 1539, dtype: int64

In [565]:
master_data.Trip_id.value_counts()

HR46E0510_02092021    29350
HR46E4249_04092021    27626
HR46E1707_24092021    25331
HR46E7834_29092021    23929
HR46E2686_25092021    23832
                      ...
NL01Q4982_22092021       32
GJ14X5039_24092021       30
NL01Q4965_23092021       27
NL01Q3258_23092021       24
NL01Q7267_24092021       16
Name: Trip_id, Length: 1538, dtype: int64

In [566]:
master_split = pd.merge(master_data, split_df, left_on='Trip_id', right_on = 'Trip_id_m', how = 'outer',indicator=True)
master_split

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm,Trip_id_m,File_type,_merge
0,NL01G7717_23102021,13.02534780.03511,13.0253,80.0351,2021-10-23 00:00:00,NL01G7717_23102021,F3,both
1,NL01G7717_23102021,13.02536880.035034,13.0254,80.035,2021-10-23 00:05:00,NL01G7717_23102021,F3,both
2,NL01G7717_23102021,13.02536880.035034,13.0254,80.035,2021-10-23 00:10:00,NL01G7717_23102021,F3,both
3,NL01G7717_23102021,13.02534380.034996,13.0253,80.035,2021-10-23 00:15:00,NL01G7717_23102021,F3,both
4,NL01G7717_23102021,13.02534380.034996,13.0253,80.035,2021-10-23 00:20:00,NL01G7717_23102021,F3,both
...,...,...,...,...,...,...,...,...
2697507,NL01Q6778_10082021,"15.267827,76.911796",15.2678,76.9118,2021-08-15 23:47:00,NL01Q6778_10082021,F3,both
2697508,NL01Q6778_10082021,"15.236758,76.908142",15.2368,76.9081,2021-08-15 23:52:00,NL01Q6778_10082021,F3,both
2697509,NL01Q6778_10082021,"15.200762,76.910693",15.2008,76.9107,2021-08-15 23:57:00,NL01Q6778_10082021,F3,both
2697510,NL01Q6778_10082021,"15.188828,76.911902",15.1888,76.9119,2021-08-15 23:58:00,NL01Q6778_10082021,F3,both
2697511,NaN,NaN,NaN,NaN,NaN,NL01Q3115_29092021,F4,right_only

In [503]:
master_split.to_csv("master_split_1.csv")

In [576]:
master_split.File_type.value_counts().sum()

2697512

In [577]:
master_split['_merge'].value_counts()

both          2697511
right_only          1
left_only           0
Name: _merge, dtype: int64

In [586]:
master_split_1 = master_split[master_split['File_type'] == 'F1']

In [587]:
master_split_1.shape

(615505, 8)

In [589]:
master_split_1.to_csv("master_split1.csv")

In [585]:
615505 + 616305 + 596853 +868849

2697512

In [ ]:
26,97,512

In [581]:
master_split_2 = master_split[master_split['File_type'] == 'F2']

In [590]:
master_split_2.to_csv("master_split2.csv")

In [582]:
master_split_2.shape

(616305, 8)

In [583]:
master_split_3 = master_split[master_split['File_type'] == 'F3']
master_split_3.shape

(596853, 8)

In [591]:
master_split_3.to_csv("master_split3.csv")

In [584]:
master_split_4 = master_split[master_split['File_type'] == 'F4']
master_split_4.shape

(868849, 8)

In [592]:
master_split_4.to_csv("master_split4.csv")

In [575]:
master_split_4

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm,Trip_id_m,File_type,_merge
3706,KA429932_29092021,"12.986857,80.007142",12.9869,80.0071,2021-09-29 03:05:00,KA429932_29092021,F4,both
3707,KA429932_29092021,"12.986857,80.007142",12.9869,80.0071,2021-09-29 03:10:00,KA429932_29092021,F4,both
3708,KA429932_29092021,"12.986857,80.007142",12.9869,80.0071,2021-09-29 03:15:00,KA429932_29092021,F4,both
3709,KA429932_29092021,"12.986857,80.007142",12.9869,80.0071,2021-09-29 03:20:00,KA429932_29092021,F4,both
3710,KA429932_29092021,"12.986857,80.007142",12.9869,80.0071,2021-09-29 03:25:00,KA429932_29092021,F4,both
...,...,...,...,...,...,...,...,...
2516448,NL01Q9795_02092021,"22.58866,88.221085",22.5887,88.2211,2021-09 - 07 23:40,NL01Q9795_02092021,F4,both
2516449,NL01Q9795_02092021,"22.588661,88.221088",22.5887,88.2211,2021-09 - 07 23:45,NL01Q9795_02092021,F4,both
2516450,NL01Q9795_02092021,"22.588661,88.221088",22.5887,88.2211,2021-09 - 07 23:55,NL01Q9795_02092021,F4,both
2516451,NL01Q9795_02092021,"22.58866,88.221085",22.5887,88.2211,2021-09 - 07 23:57,NL01Q9795_02092021,F4,both
2697511,NaN,NaN,NaN,NaN,NaN,NL01Q3115_29092021,F4,right_only

In [593]:
master_data

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm
0,NL01G7717_23102021,13.02534780.03511,13.0253,80.0351,2021-10-23 00:00:00
1,NL01G7717_23102021,13.02536880.035034,13.0254,80.035,2021-10-23 00:05:00
2,NL01G7717_23102021,13.02536880.035034,13.0254,80.035,2021-10-23 00:10:00
3,NL01G7717_23102021,13.02534380.034996,13.0253,80.035,2021-10-23 00:15:00
4,NL01G7717_23102021,13.02534380.034996,13.0253,80.035,2021-10-23 00:20:00
...,...,...,...,...,...
181061,NL01Q6778_10082021,"15.2959,76.912409",15.2959,76.9124,2021-08-15 23:42:00
181062,NL01Q6778_10082021,"15.267827,76.911796",15.2678,76.9118,2021-08-15 23:47:00
181063,NL01Q6778_10082021,"15.236758,76.908142",15.2368,76.9081,2021-08-15 23:52:00
181064,NL01Q6778_10082021,"15.200762,76.910693",15.2008,76.9107,2021-08-15 23:57:00
181065,NL01Q6778_10082021,"15.188828,76.911902",15.1888,76.9119,2021-08-15 23:58:00

In [ ]:
distances_km = []
for row in trip_final.itertuples(index=False):
   distances_km.append(
       haversine_distance(row.Latitude, row.Longitude,row.Dealer_Lat,row.Dealer_Long)
   )

In [ ]:
## Data Consistency

In [ ]:
master_data['GPS_dt_tm'] = pd.to_datetime(master_data['GPS_dt_tm'])

In [ ]:
master_data['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in master_data['GPS_dt_tm'].rolling(2) if len(x)>0]

In [ ]:
master_data.dtypes

In [ ]:
master_data.shape

In [ ]:
master_data.isnull().sum()

In [ ]:
master_data.Trip_id.value_counts().count()

In [ ]:
master_data.head(2)

In [ ]:
master_data.Trip_id.value_counts()

In [ ]:
master_data.Trip_id = master_data.Trip_id.str.replace('[.xls]', '')
master_data.Trip_id = master_data.Trip_id.str.replace('[.xlsx]', '')

# trip  13 dec 2021

In [595]:
df_trip = pd.read_excel("D:\\Sales Logistic Project\\trip.xltm")

In [596]:
df_trip

,Trip ID,DEALER,FileName,Dealer Lat,Dealer Long,Straight Dist,RANK
0,GJ06AX5553_03.09.2021,N4234,GJ06AX5553_03.09.2021.xlsx,24.574281,73.746053,1451.034650,1
1,GJ06AX5553_03.09.2021,N4236,GJ06AX5553_03.09.2021.xlsx,24.611694,73.719472,1455.977623,2
2,GJ06AZ6243_02.09.2021,W2212,GJ06AZ6243_02.09.2021.xls,19.978590,79.281268,776.152405,1
3,GJ06AZ6243_02.09.2021,W2214,GJ06AZ6243_02.09.2021.xls,20.820864,77.728417,903.557402,2
4,GJ12BV6093_02.09.2021,N4216,GJ12BV6093_02.09.2021.xls,25.342905,74.624336,1487.397816,1
...,...,...,...,...,...,...,...
1798,UP82T6227_04.09.2021,N3221,UP82T6227_04.09.2021.xlsx,26.762824,82.088374,1535.639473,1
1799,UP82T6227_04.09.2021,N3A05,UP82T6227_04.09.2021.xlsx,26.903181,81.137403,1542.021474,2
1800,UP82T6229_10.08.2021,W3201,UP82T6229_10.08.2021.xlsx,22.237248,70.907393,1420.649885,1
1801,UP82T6229_10.08.2021,W3256,UP82T6229_10.08.2021.xlsx,22.789120,70.899330,1464.768580,2
1802,UP82T6229_10.08.2021,W3252,UP82T6229_10.08.2021.xlsx,22.781986,70.801782,1471.165476,3

In [597]:
df_trip['Trip ID'] = df_trip['Trip ID'].str.replace('[.]', '')

In [598]:
df_trip = df_trip[df_trip['RANK']==1]

In [599]:
df_trip['Trip ID'].nunique()

683

In [600]:
df_trip['Trip ID'].value_counts()

NL01AB3158_14092021    1
HR47D1108_08102021     1
NL01AC0864_06102021    1
NL04D5781_29092021     1
NL01Q0461_04092021     1
                      ..
NL01Q4398_03092021     1
NL01AA9238_16092021    1
NL01K1677_17092021     1
NL01AD3901_16102021    1
NL01AC2461_09092021    1
Name: Trip ID, Length: 683, dtype: int64

In [601]:
df_trip.rename({'Trip ID': 'Trip_id'}, axis=1, inplace=True)

E:\Anaconda\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
df_trip.Trip_id.to_excel("Trip_id.xlsx")

In [602]:
master_data.Trip_id.value_counts()

HR46E0510_02092021    29350
HR46E4249_04092021    27626
HR46E1707_24092021    25331
HR46E7834_29092021    23929
HR46E2686_25092021    23832
                      ...
NL01Q4982_22092021       32
GJ14X5039_24092021       30
NL01Q4965_23092021       27
NL01Q3258_23092021       24
NL01Q7267_24092021       16
Name: Trip_id, Length: 1538, dtype: int64

In [603]:
df_trip

,Trip_id,DEALER,FileName,Dealer Lat,Dealer Long,Straight Dist,RANK
0,GJ06AX5553_03092021,N4234,GJ06AX5553_03.09.2021.xlsx,24.574281,73.746053,1451.034650,1
2,GJ06AZ6243_02092021,W2212,GJ06AZ6243_02.09.2021.xls,19.978590,79.281268,776.152405,1
4,GJ12BV6093_02092021,N4216,GJ12BV6093_02.09.2021.xls,25.342905,74.624336,1487.397816,1
6,GJ12BV6093_02102021,N2204,GJ12BV6093_02.10.2021.xls,30.382432,76.790043,1958.625405,1
7,GJ12BV7704_04102021,N4212,GJ12BV7704_04.10.2021.xls,24.852419,74.623943,1437.910366,1
...,...,...,...,...,...,...,...
1792,UP82T4739_03082021,N2204,UP82T4739_03.08.2021.xlsx,30.382432,76.790043,1958.625405,1
1793,UP82T4740_31082021,N3229,UP82T4740_31.08.2021.xlsx,27.861937,79.890727,1646.277055,1
1796,UP82T5509_17082021,N3A02,UP82T5509_17.08.2021.xlsx,28.433146,79.343905,1711.941490,1
1798,UP82T6227_04092021,N3221,UP82T6227_04.09.2021.xlsx,26.762824,82.088374,1535.639473,1
1800,UP82T6229_10082021,W3201,UP82T6229_10.08.2021.xlsx,22.237248,70.907393,1420.649885,1

In [605]:
trip_final = pd.merge(master_data, df_trip, how = 'inner', left_on = 'Trip_id', right_on = 'Trip_id')
print(trip_final.shape)

(1532154, 11)

In [608]:
trip_final.Trip_id.nunique()

682

In [609]:
master_data.Trip_id.nunique()

1538

In [621]:
trip_final['Match']= df_trip['Trip_id'].isin(trip_final['Trip_id'])

In [622]:
df_trip.Match.value_counts()

True    683
Name: Match, dtype: int64

In [623]:
df_trip.Trip_id.nunique()

683

In [624]:
trip_final['Trip_id'].nunique()

682

In [625]:
trip_final['Match'].value_counts()

True     682
False      1
Name: Match, dtype: int64

In [626]:
d = trip_final.iloc[np.where(trip_final['Match']==False)]

In [627]:
d

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm,DEALER,FileName,Dealer Lat,Dealer Long,Straight Dist,RANK,Match
1361,HR55S4482_07092021,"21.298036,83.157031",21.298,83.157,2021-09-11 18:00:00,E7201,HR55S4482_07.09.2021.xls,21.466872,83.981166,1015.089685,1,False

In [634]:
trip_final.rename({'Dealer Lat': 'Dealer_Lat', 'Dealer Long': 'Dealer_Long','DEALER':'Dealer_code'}, axis=1, inplace=True)
trip_final

,Trip_id,"Lat,Lngt",Latitude,Longitude,GPS_dt_tm,Dealer_code,FileName,Dealer_Lat,Dealer_Long,Straight Dist,RANK,Match
0,HR55S4482_07092021,"12.985476,80.00984",12.9855,80.0098,2021-09-07 00:05:00,E7201,HR55S4482_07.09.2021.xls,21.466872,83.981166,1015.089685,1,True
1,HR55S4482_07092021,"12.985476,80.00984",12.9855,80.0098,2021-09-07 00:10:00,E7201,HR55S4482_07.09.2021.xls,21.466872,83.981166,1015.089685,1,NaN
2,HR55S4482_07092021,"12.985476,80.00984",12.9855,80.0098,2021-09-07 00:15:00,E7201,HR55S4482_07.09.2021.xls,21.466872,83.981166,1015.089685,1,True
3,HR55S4482_07092021,"12.985476,80.00984",12.9855,80.0098,2021-09-07 00:20:00,E7201,HR55S4482_07.09.2021.xls,21.466872,83.981166,1015.089685,1,NaN
4,HR55S4482_07092021,"12.985476,80.00984",12.9855,80.0098,2021-09-07 00:25:00,E7201,HR55S4482_07.09.2021.xls,21.466872,83.981166,1015.089685,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1532149,NL01Q6778_10082021,"15.2959,76.912409",15.2959,76.9124,2021-08-15 23:42:00,W2238,NL01Q6778_10.08.2021.xls,19.578997,74.228257,968.342148,1,NaN
1532150,NL01Q6778_10082021,"15.267827,76.911796",15.2678,76.9118,2021-08-15 23:47:00,W2238,NL01Q6778_10.08.2021.xls,19.578997,74.228257,968.342148,1,NaN
1532151,NL01Q6778_10082021,"15.236758,76.908142",15.2368,76.9081,2021-08-15 23:52:00,W2238,NL01Q6778_10.08.2021.xls,19.578997,74.228257,968.342148,1,NaN
1532152,NL01Q6778_10082021,"15.200762,76.910693",15.2008,76.9107,2021-08-15 23:57:00,W2238,NL01Q6778_10.08.2021.xls,19.578997,74.228257,968.342148,1,NaN
1532153,NL01Q6778_10082021,"15.188828,76.911902",15.1888,76.9119,2021-08-15 23:58:00,W2238,NL01Q6778_10.08.2021.xls,19.578997,74.228257,968.342148,1,NaN

In [646]:
trip_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1532154 entries, 0 to 1532153
Data columns (total 13 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Trip_id        1532154 non-null  object
 1   Lat,Lngt       1532154 non-null  object
 2   Latitude       1532154 non-null  float64
 3   Longitude      1532154 non-null  float64
 4   GPS_dt_tm      1532154 non-null  object
 5   Dealer_code    1532154 non-null  object
 6   FileName       1532154 non-null  object
 7   Dealer_Lat     1532154 non-null  float64
 8   Dealer_Long    1532154 non-null  float64
 9   Straight Dist  1532154 non-null  float64
 10  RANK           1532154 non-null  int64
 11  Match          683 non-null      object
 12  Distance       1532154 non-null  float64
dtypes: float64(6), int64(1), object(6)
memory usage: 203.7+ MB

In [647]:
trip_final['Latitude'] = trip_final['Latitude'].astype(float)
trip_final['Longitude'] = trip_final['Longitude'].astype(float)

In [648]:
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2 - lat1)
   delta_lambda = np.radians(lon2 - lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a)))
   return np.round(res, 2)

In [649]:
distances_km = []
for row in trip_final.itertuples(index=False):
   distances_km.append(
       haversine_distance(row.Latitude, row.Longitude,row.Dealer_Lat,row.Dealer_Long)
   )

In [650]:
trip_final['Distance'] = distances_km

In [641]:
trip_final.Trip_id.value_counts()

HR46E0510_02092021     29350
HR46E1707_24092021     25331
HR46E7834_29092021     23929
HR46E2686_25092021     23832
HR46E4411_30092021     21225
                       ...
NL01AA9622_07082021      300
NL01AB1584_30092021      123
GJ14X5039_24092021        30
NL01Q4965_23092021        27
NL01Q3258_23092021        24
Name: Trip_id, Length: 682, dtype: int64

## unloading-point

In [706]:
unloading_dist= trip_final.groupby('Trip_id')['Distance'].min()

In [707]:
# df['Status'] = np.where(df['Distance']!= df['Distance'].min(), 'In-transit', 'Unloading-Point')

In [708]:
#da = trip_final.iloc[np.where(unloading_dist['Distance']=='1369.81')]

In [709]:
unloading_dist.max()

1369.81

In [712]:
unloading_dist = pd.DataFrame(unloading_dist)

In [715]:
unloading_dist['Distance'].min()

0.01

In [703]:


unloading_dist.columns = [''] * len(unloading_dist.columns)

In [692]:
unloading_dist.columns=[['Trip_id','Min_distance']]

In [701]:
unloading_dist.rename({'Trip ID': 'Min_distance'}, axis=1, inplace=True)

In [714]:
unloading_dist

                     Distance
Trip_id
GJ06AX5553_03092021      0.77
GJ06AZ6243_02092021     19.72
GJ12BV6093_02092021      0.49
GJ12BV6093_02102021      0.06
GJ12BV7704_04102021      0.04
...                       ...
UP82T4739_03082021      58.92
UP82T4740_31082021       1.07
UP82T5509_17082021       0.73
UP82T6227_04092021       0.26
UP82T6229_10082021       8.76

[682 rows x 1 columns]

# 815 trip ids   - 16/12/21

In [ ]:
## read dataset

In [ ]:
# fix the trip id format - > remove "."

In [ ]:
## merge with master data

In [ ]:
## find the distance

In [ ]:
## group by trip id - find min distance

In [ ]:
## merge back with master data with flagged unloading distance

In [ ]:
for i, row in trip_final.iterrows():
    ifor_val = something
    if <condition>:
        ifor_val = something_else
    df.set_value(i,'ifor',ifor_val)
    
    

for i, row in trip_final.iterrows():
    ifor_val = something
    if <condition>:
        ifor_val = something_else
    df.set_value(i,'ifor',ifor_val)

In [ ]:
for x in trip_final['Trip_id'].unique():
       trip_final['Stauss'] = np.where(trip_final['Distance']!= trip_final['Distance'].min(), 'In-transit', 'Unloading-Point')

In [ ]:
for i in trip_final.Trip_id.iteritems():
    for d in trip_final['Distance'].items():
        if trip_final.Distance == trip_final.Distance.min():
            trip_final['status_su'] = 'Unloading_Point'
        else:
             trip_final['status_su'] = 'In-transit'

In [ ]:
trip_final.keys()